// .
// . Product page sidebar
// .   	

.product-page-sidebar {

  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: $article-product-sidebar-w;
  // @include bg-medium-denim-2;

  @include bp(desktop) {
    display: block;
  }

}

aside.product-sidebar {

  float: left;
  width: 100%;  
  padding: $base-gutter;
  position: relative;
  z-index: 2;
  @include bg-medium-denim-2;

  @include bp(desktop) {
    background: none;
    width: $article-product-sidebar-w;
  }

}

aside.product-sidebar + section.content {

  float: left;
  position: relative;
  width: 100%;
  padding: $base-gutter;

  @include bp(desktop) {
    width: 100%-$article-product-sidebar-w;
  }

}