.inner-page
  %h1 Inline Buttons
  %p
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    %a{href:"#",class:"letterpress"} letterpress link
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    %a{href:"#",class:"block"} block link
    Donec eu libero sit amet quam egestas semper.
    %a{href:"#",class:"pill"} pill link
    Aenean ultricies mi vitae est. Mauris placerat.
    %a{href:"#",class:"underline"} underline link
    Pellentesque habitant morbi
    %a{href:"#",class:"underline dotted"} dotted link
    senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
    %h1 Stand alone buttons
    .btn Click Me