// .
// . Modular scale
// .   	

// Settings

$ratio: 1.618;
$default: 16;
$base-number: 16;
$important-number: 14;
$heading-mod: 5.5;

// Maths

$t-base: ($base-number / $default)*1em;
$t-base-up-1: $t-base * $ratio;
$t-base-up-2: $t-base-up-1 * $ratio;
$t-base-up-3: $t-base-up-2 * $ratio;
$t-base-up-4: $t-base-up-3 * $ratio;
$t-base-up-5: $t-base-up-4 * $ratio;
$t-base-down-1: $t-base / $ratio;
$t-base-down-2: $t-base-down-1 / $ratio;
$t-base-down-3: $t-base-down-2 / $ratio;
$t-base-down-4: $t-base-down-3 / $ratio;
$t-base-down-5: $t-base-down-4 / $ratio;