html {
  font-family: arial;
  padding: 4em;
}

ul {
  display: inline-block;
  margin-right: 4em;
  list-style: none;
  padding: 0;
  counter-reset: checkout_progress;
}

ul li {
  position: relative;
  z-index: 2;
  &:not(:first-of-type) {
    margin-top: 0.5em;
  }
}

span {
  display: table-cell;
  vertical-align: middle;
  text-indent: 0.5em;
}

$size: 2em;
$border-size: 0.2em;
ul li.current {
  font-weight: bold;
  color: black;
  &:before {
    background: green;
    border-color: green;
    color: white;
  }
}

ul li {
  color: gray;
}

ul li:before {
  position: relative;
  z-index: 2;
  // theme
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: $size - $border-size;
  height: $size - $border-size;
  background: white;
  border-radius: 50%;
  color: black;
  border: $border-size solid #666;
  // counter
  content: counter(checkout_progress);
  counter-increment: checkout_progress;
}

ul li:not(:last-of-type):after {
  position: absolute;
  z-index: 1;
  content: "";
  top: $size;
  width: ($size)/2;
  height: $size / 2;
  border-right: $border-size solid #666;
}