// .
// . Page header
// .   	

//	TODO: rename, cleanup

$header-h: 62px;
$nav-items: 7;
$tablet-logo-width: 100%;
$desktop-logo-width: 25%;

$header-nav-text-c: $color-dgr-3;

$newsfeed-text-c: #B4B4B4;
$newsfeed-text-hover-c: white;

$desktop-logo-src: "../images/tekrider/outline-logo.png";

$facebook-ico-color: #73C1FF;