// .
// . Heading typography
// .   	

// tekrider-framework.scss

h1 { font-size: $t-base-up-5 / $heading-mod; }
h2 { font-size: $t-base-up-4 / $heading-mod*.90; }
h3 { font-size: $t-base-up-3 / $heading-mod*1.5; }
h4 { font-size: $t-base-up-2 / ($heading-mod*0.45); }
h5 { font-size: $t-base-up-1 / ($heading-mod*.50); }
h6 { font-size: $t-base-up-1 / ($heading-mod*.50); }
p { font-size: $t-base; color: #555; }

// tekrider-ui-framework.scss

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #353535;
  margin: 0.45em 0;
  &.first { margin-top: 0 !important; margin-left: 0 !important; }
  &.last { margin-bottom: 0 !important; margin-right: 0 !important; }
}

h1, h2 {
  font-family: $strong-font-stack;
}

h3, h4, h5, h6 {
  font-family: $strong-font-stack-2;
}

h1.giga {
  font-size: 2.7em;
}

h1 {
  margin: 1.6em 0;
  font-size: 2em;
}

h2 {
/*   margin: 1.5em 0; */
  margin: 1em 0;
  font-size: 1.6em;
}

h3 {
  margin: 1.15em 0;
}

h4 {

}

h5 {
  font-size: 0.9em;
  font-weight: 700;
  color: #6C6C6C;
}

h6 {
  font-size: 0.8em;
  font-weight: 700;
  color: #6C6C6C;
}

h1.page-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.6em;
}

// h1 + h2 {
//  margin-top: -0.5em !important;
// }