// .
// . Paragraph typography
// .   	

// tekrider-ui-framework.scss

p {
  color: #222;
  margin: 1em 0 1.8em;
  line-height: 1.9;
  &.first { margin-top: 0 !important; margin-left: 0 !important; }
  &.last { margin-bottom: 0 !important; margin-right: 0 !important; }
}

p.intro {
   margin-bottom: 1.2em;
   font-size: 21px;
   line-height: 28px;
}

p.pullquote {
   font-size: 17px;
   line-height: 26px;
   margin-bottom: 35px;
   padding-left: 15px;
   border-width: 0px 0px 0px 3px;
   border-style: solid;
}

p.italic {
  font-style: italic;
}

p.underline {
  border-bottom: 1px solid #A3A3A3;
  padding-bottom: 3px;
}

p.w300 {
  font-weight: 300;
}

p.w400 {
  font-weight: 400;
}

p.w500 {
  font-weight: 500;
}

p.w700 {
  font-weight: 700;
}