// .
// . Checkout page
// .

$checkout-page: ();

// . Layout
// ------------------------------------------------------ x

// checkout page container
article.checkout-page {
	@include container; // * SUSY
}

// form inside checkout container
article.checkout-page > form {
	// make devtools recognize element dimensions
  display: table;
	width: 100%;
}

// Button to proceed to next checkout step
#checkout_next_button {
  margin: 1em 0;
  float: right;
  padding: 0;
}

// Checkout sidebar background image element
.page-sidebar.checkout {
  @include bp(desktop) { display: block; }
}

// . Form section
// ------------------------------------------------------ x

// input element row
.checkout-page section.form .row {

  @include magic-grid(4, $base-gutter);
  
  // input label
  & label {

    display: block;
    @extend p;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #8B8B8B;
    
  }

  // text and dropdown input
  & input[type=text], input[type=email], & select {
    width: 100%;
  }

  // radio input
  & input[type=radio] {

    width: auto;
    margin-right: 1/3 * $base-gutter;

    // Input label following the radio input
    & + label {
    
      display: inline-block;
    
    }
    
  }

}

// . UI elements
// ------------------------------------------------------ x

// API error message
.checkout-error {

    display: inline-block;
    padding: $base-gutter/2;
    background: #B14444; // dark red
    color: white;

}

// method option description
.checkout-option-description {

    // TODO: create mixin for non input labels
    
    margin: 0;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: $flat-gray-2;
    box-shadow: inset 0px 0px 0px 1px $flat-gray-2;

}

// require field asterix
#checkout_page .required {
  color: #c0392b;
}