// .
// . Contact page
// .   	

$table-min-w: 140px;
$contact-section-max-width: 700px;

//-contact methods wrapper-//
#contact_methods {
    width: 100%;
    overflow: auto;
    margin-top: $base-gutter;
    @include bp(mobile) {
        text-align: center; }
    @include bp(tablet) {
        text-align: left; }
    @include bp(desktop) { line-height: 1.5; }
    
    //-contact method row-//
    .contact_method_wrap {
        width: 100%;

        @include bp(tablet) {
            border-bottom: 1px solid $color-gr-5;
        }
        
        //-remove border below last contact method-//
        &:last-of-type {
            border-bottom: none;
        }
        
        //-contact method name-//
        & .method-title {
            padding: $base-gutter/2;
            color: black;
            background: rgba(black,0.03);
            @include bp(mobile) {
                width: 100%;
            }
            @include bp(tablet) {
                float: left;
                width: 33%;
                text-shadow: 0 -1px rgba(white, 0.20); }

            //-contact method icon-//
            & span {
                color: #B0B0B0;
                text-shadow: -1px 1px #FFF;
            }
        }

        //-contact method data-//
        & .method-data {
            padding: $base-gutter/2;
            color: #222;
            @include bp(mobile) {
                width: 100%;
                background: rgba(white,0.25);
            }
            @include bp(tablet) {
                float: left;
                width: 66%;
                text-shadow: 0 -1px rgba(white, 0.33);
                &:hover { width: 67%; }
            }
        }
    }
    //-contact method link-//
    & a {
        color: inherit;
        &:hover, &:active {
          color: inherit;
        }
    }
}

//-----------------------//
// Contact methods (dev) //
//-----------------------//

//-Contact method table-//
.contact_info {
  display: table;
  width: 100%;
  max-width: $contact-section-max-width;
  margin-top: $base-gutter;
}

    //-Contact method table row-//
    .contact_info .method {
      display: table-row;
      border-bottom: 1px solid $color-gr-5;
    }

        //-Contact method table cell-//
        .contact_info .method > * {
          display: table-cell;
          padding: $base-gutter/2;
          border-bottom: 1px solid $color-gr-5;
        }

            //-Contact method name-//
            .contact_info .name {
                background: rgba(black,0.03);
                min-width: $table-min-w;
            }

                //-Contact method name icon-//
                .contact_info .name [class*="icon-"] {
                    color: $color-gr-7;
                    text-shadow: -1px 1px #FFF;
                    &:after { content: "\00a0"; }
                }

//------------//
// Google map //
//------------//

//-google map wrapper-//
#contact_google_map {
    border: 1px solid #AAA;
    width: 100%;    
    height: 300px;

    & * {
    	max-width: none;
    }

    @include bp(tablet) {
		height: 400px;
    }
}

//--------------------//
// Hours of operation //
//--------------------//

//-hours table-//
.operation-hours {
    font-size: 0.9em;
    width: 100%;
    max-width: $contact-section-max-width;
}

//-hours table row-//
.operation-hours tr {
    line-height: 1.4;
}

//-contact hours table cell-//
.operation-hours tr td {
    padding: $base-gutter/2;
    border-bottom: 1px solid $color-gr-5;
}

//-hours day-//
.operation-hours .day {
    padding-right: $base-gutter*2;
    min-width: $table-min-w;
    @include bp(mobile) { width: $table-min-w; }
    background: rgba(black,0.03);
}

//-hours time-//
.operation-hours .time {
    color: $color-dgr-2;
}
