// .
// . FAQ page
// .     

// FAQs container
#faqs {

  $faq-icon-color: #848484;
  $faq-icon-color-hover: #343434;
  $faq-icon-color-active: #FF4D00;

  width: 100%;
  padding-left: 3px; // looks nicer with page title 'Q'

  & dt.faq {
    
    & .inner-container {

      position: relative;

      .faq-icon {

        position: absolute;
        font-size: 1.1em;
        color: $faq-icon-color;
        top: 50%;
        transform: translateY(-50%);
        transition: color 0.2s ease;
        // margin-top: 0.2em;
        
        // expanded icon selector
        &.icon-uniF477 {
          color: $faq-icon-color-active;
        } 
        
      }

      .question {

        padding-left: 2em;

      }

    }

    & p {
      margin: 1em 0;
    }

    &:hover { // dt.faq 

      @include bp(desktop) {

        cursor: pointer;
        
        // faq icon mouseover
        & .faq-icon {
          color: $faq-icon-color-hover;
        }

      }
      
    }
    
    // remove top margin
    &:first-child {
      & p { margin-top: 0; }
    }

  }

  & dd.faq-answer {

    display: none;
    margin: 1em 0;
    padding: $base-gutter;
    background: #E5E5E5;

    @include bp(tablet) {
    }
    
    @include bp(desktop) {
      margin: 1em 0;
      margin-left: 2em;
      max-width: 812px;
    }

    & p {
      margin-top: 0;
    }

  }

}