// .
// . Forums page
// .   	

section.forum-links {

  h3 {
    margin: 1.5em 0;
  }

  &:not(:last-child) {
    padding-bottom: 0;
  }

  &:not(:first-child) {
    padding-top: 0;
  }

  & header {

    & img {
    	width: 100%;
    }

  }


  & img.banner {
    display: block; // remove bottom margin
  }

  & ul.links {

    @include container;
    
    & li.link {


      @include bp(tablet) {

        @include span(6 of 12);

      }

			$border-width: 1em;

			position: relative;
			margin-bottom: $base-gutter;
			padding-left: $border-width * 2;

			& h4 {
				margin-top: 0;
				font-size: 1em;
  				font-weight: normal;
			}


			// border
			&:before {
				background: #CDCDCD;
				width: $border-width;
				height: 100%;
				display: inline-block;
				content: '';
				position: absolute;
				left: 0;
			}

		}//& li.link

  }//& ul.links



}//section.forum-links-wrapper

