// .
// . Gallery page
// .     

$gallery-page: (
  icon-color: white,
  icon-background: #818181,
  icon-padding: 1em
);

section.media-gallery {

  @include bp(tablet-only) {
    padding-top: 0;
  }

}

ul.gallery-items {

  width: 100%;

  @include bp(tablet) {
    @include container();
    @include container-padding($base-gutter);
  }

  @include bp(desktop) {
    @include container();
    @include container-padding($base-gutter);
  }

}

.gallery-items li.gallery-item {

  position: relative;
  margin-bottom: $base-gutter;
  opacity: 0; // velocity jquery plugin
  width: 100%;

  @include bp(tablet) {

    @include span(6 of 12);
    @include span-padding($base-gutter);

  }

  @include bp(desktop) {

    @include span(6 of 12);
    @include span-padding($base-gutter);

  }

}

li.gallery-item .inner-wrapper {
  position: relative;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
}

.gallery-item .link-wrap {
  position: absolute;
    height: 100%;  
    width: 100%;
    top: 0;
}

.gallery-item .image-container {  

  position: relative;

  & img { 
    width: 100%;
    position: relative;
    display: block;
  }

}

.gallery-item .title {

  position: relative;
  width: 100%;
  background: white;
  padding: $base-gutter * 1/2;
  border-top: 1px solid #ddd;

  & p {
    margin: 0;
    color: #666;
  }

  & p.small {
    font-size: 0.9em;
  }

}

//-- Mouse over gallery item --//
.gallery-items .gallery-item:hover {
  & .zoom-outside {
    opacity: 1;
    cursor: pointer; }
}

.gallery-item .zoom-outside {
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 0.8);
}

.gallery-item .zoom-inside {
  position: absolute;
  top: 42%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.gallery-item .zoom-inside span {
  @include circle-icon(map-get($gallery-page, icon-padding), map-get($gallery-page, icon-color), map-get($gallery-page, icon-background) );
}

//---------------------//
// Dealer gallery page //
//---------------------//

.gallery-item .title.dealer {
  border-top: 1px solid shade(white,20);
}

// Dealer content download button
.gallery-item .title.dealer .download {
  $color: rgb(150, 150, 150);
  padding: 1px 6px;
  cursor: pointer;
  text-align: center;
  background: $color;
  &:hover, &:focus {
    background-color: scale-lightness($color,25); }
  &:active {
    background-color: shade($color,25); }
}

// Download icon
.gallery-item .zoom-inside span.download {}