// .
// . Homepage testimonials SASS
// .    

$section-heading-color: rgba(0, 0, 0, 0.54);

#page_container > section.testimonials.home {
  padding-top: 0;
}

section.testimonials.home header {

  padding: $base-gutter;
  border: 1px solid $section-heading-color;
    border-style: dashed;
    margin-bottom: $base-gutter;
}

h2.home-reviews {

  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: $section-heading-color;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  
  
  & a {
    color: inherit;
  }

  & > [class*="_btn"] {
    
    font-size: 0.4em;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
    margin-top: 1.5em;
    display: none;

    @include bp(desktop) {
      display: inline-block;
        margin: 0;
      margin-left: 1em;
    }

  }

}