// .
// . Media page
// .   	

section.blog {

  display: inline-block;
  width: 100%;
  padding: 0;

  & > .inner-wrapper {
    @include container; //@SUSY
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  & section.blog-posts {

    width: 100%;

    @include bp(desktop)     {
       @include span(9 of 12); //@SUSY
    }

    & > .inner-wrapper {}

    & article.blog-post {
  
      & > .inner-wrapper {

        padding-bottom: $base-gutter ;
        border-bottom: 1px dashed #CACACA;
      
      }

      & header {}

      & .post-content {

        margin-bottom: $base-gutter;
      
      }

      & footer {}

      // first post
      &:first-child {
        & .post-title {
          margin-top: 0;
        }
      }
  
      // last post
      &:last-child {

        margin-bottom: 0;

        @include bp(desktop)    {
          border-bottom: 0;
        }

        & > .inner-wrapper {

          padding-bottom: 0;
          border-bottom: 0px dashed #CACACA;
        
        }

      }
    
      & h1.post-title {

        @extend .page-title;

        & a {
          color: inherit;
        }

      }
      
      & hr.media {
        margin-bottom: 0;
      }

      & .post-date {
        color: $flat-gray-3;
      }
      

    }
      
    & .error-message {

      padding: $base-gutter;

      & > *:first-child {
        margin-top: 0;
      }

    }

    & .float-left {

      float: left;
      margin-right: $base-gutter * 2/3;

    }

    & .float-right {

      float: right;
      margin-left: $base-gutter * 2/3;

    }

  }

  & aside.blog-nav {

    width: 100%;

    @include bp(desktop)     {
      @include span(3 of 12); //@SUSY
    }

    & > .inner-wrapper {}
    
    & h2.nav-heading {

      margin: 0;
      margin-bottom: 1em;
      text-transform: uppercase;
      font-size: 1.5em;

      & a {
        color: inherit;
      }

    }

    & ul.nav-links {

      // ...

      & li {

        color: inherit;
        border-bottom: 1px solid #D2D2D2;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;

        &:before {

          color: rgba(0, 0, 0, 0.5);

        }

        &:last-child {
          border-bottom: 0;
        }

        & a.nav-link {
          
          &:hover {

            border-bottom: 1px dotted #FF4500;
          
          }

        }

      }

    }

  }

  & aside.blog-nav {
    
    display: inline-block;
    padding: $base-gutter;
    
  }

}