// .
// . Product page
// .   	

section.product {

  position: relative;
  z-index: 1;

	.page-title {
		margin-bottom: 0;
		font-size: 3em;
	}

	.page-title + h2 {
		margin-top: 0;
    margin-bottom: 0.5em;
	}

	& hr {
    
		margin: 0;
		margin-bottom: $base-gutter;
		width: 100%;
		border-style: dashed;

    // hide extra rulers
    & + hr {
      display: none;
    }

	}

  	& .product-option {
    	margin-bottom: $base-gutter;
    	display: inline-block;
    	width: 100%;
  	}

	& .product-option .price {
    	background: white;
    	padding: 0.5em;
  		border: 1px solid #C6C6C6;
  		border-radius: 3px;
  	}

}

// measurement guide button
#product-sizeguide-btn {
  margin-bottom: $base-gutter;
}

// price under product name
.product-title-price {

    font-weight: normal;
    vertical-align: middle;
    color: gray;

    &.hide {
        display: none;
    }

}

// category buttons
section.product ul.product-categories {

    list-style: none;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: $base-gutter * 2/3;

    & li {

      display: inline-block;
      padding-left: 0 !important;
      text-indent: 0 !important;
      margin-right: $base-gutter * 1/3;
      margin-bottom: $base-gutter * 1/3;
      font-size: 1.2em;
		
		& a {
  			@include group-button-link;
  		}

    }

}

section.product .product-features {

	margin-bottom: 1.5em;

  // Bulleted feature list
  & ul {

    @extend .bullet;

    & li {

      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }

    }

  }

	// Feature bullet list heading
	& h3 {

	  // margin-top: 12px;
	  // margin-bottom: 6px;
	  // color: #444;
	  // text-transform: uppercase;
	  // font-weight: 700;
// 
	}

	& a {
	  @include button-link;
	}

}

// main image
.product-gallery .product-image {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    margin-bottom: $base-gutter;
    border: 1px solid rgb(165, 165, 165);
    display: inline-block;
    & img {
    	display: block;
      width: 100%;
    }
}

// zoom icon
.product-gallery .product-image:after {
    content:'';
    display: block;
    width: 33px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/ui/zoom.png);
}

.product-gallery figcaption {
    @include bp(tablet) {
        margin-top: 0px;
        padding: $base-gutter;
        background: rgba(white, 0.9);
        border: 1px solid #CCC;
        border-top: 0;
    }
}

// thumb gallery wrap
ul.gallery-list {

    @include grid-parent(24px);
    list-style: none;
    float: left;
    min-width: 100%;
    width: auto;

}

// thumb wrap
.gallery-list li {

    @include grid-item(4);
    padding-right: $base-gutter;
    padding-bottom: $base-gutter;

    @include bp(tablet) {
      @include grid-item(5);
    }
    @include bp(desktop) {
      @include grid-item(3);
    }

}

.gallery-list li .inner-wrapper {

	background: #222;

}

// thumb img
.gallery-list img {

    border: 1px solid #a5a5a5;
    cursor: pointer;
    transition: all 0.2s ease-in;
    width: 100%;

	&:hover {
		opacity: 0.5;
	}

}

// . Product attributes
// ------------------------------------------------------ x

#product-attributes {

    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

// product attribute badge

#product-attributes li {
	cursor: pointer;
  	display: inline-block;
	margin-right: $base-gutter;
	margin-bottom: $base-gutter;
	
	&:last-of-type {
		margin-right: 0;
	}

}

#product-attributes li img {
	max-width: 78px;
}

// . Measurement guide
// ------------------------------------------------------ x

//-product long description-//
.product_description_list {
    margin-bottom: $base-gutter;
} 

//-product measurement guide table-//
.product-size-guide {
    margin-bottom: $base-gutter;
}

// measurement guide container (required for slide animation)
.sizeguide-slide {

  display: none; // for jQuery measurement toggle slide effect

  // measurement guide table
  & .product-size-guide {

  	 $border: 1px solid rgba(0, 0, 0, 0.04);
     $header-text-color: rgba(0, 0, 0, 0.69);
     $header-background: #BDC3C7;
     $body-background: $flat-gray-1;
  	 $body-text-color: rgba(0, 0, 0, 0.8);
  	 $padding: 1/2 * $base-gutter;

    margin-bottom: $base-gutter;
    width: 100%;
    font-size: 0.9em;

    & tr.head {

      
      color: $header-text-color

    }
    
    // table header cell
    & th {
		
      padding: $padding;
      text-align: left;
      background: $header-background;
      
    }

    // non header table cell
    & td {

      padding: $padding;
      color: $body-text-color;

    }

    // all table cells
    & th, & td {
        border-right: $border;
    }

    & .size-row {

      border-top: 0;
      background: $body-background;

	  &:nth-child(odd) {
	  	background: darken( $body-background , 5% );
	  }

      & td {
      	&:nth-child(3n) {
      		border-right: 0;
      	}
      }

    }//& .size-row 

  }//.product-size-guide

}//.sizeguide-slide

// . Purchase area
// ------------------------------------------------------ x

.purchase-area {
  
  & select, input {
    width: 100%;
  }

  span.required {
    color: #F00;
  }

  .label-note {
    margin-bottom: 1.5em;
    font-size: 0.8em;
    line-height: 1;
    margin-top: 0;
    color: $flat-gray-3;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid;
  }

  #buy-button {
    float: right;
  }

}

// cart control input label
.product-option-name {
  @include info-box-label;
  @include bg-medium-denim-2;
  text-transform: uppercase;
}

.product-qty-price .price {
    padding: $base-gutter/2;
    background: white;
    border: 1px solid $color-gr-6;
    margin-bottom: $base-gutter;
}