* {
  font-family: tahoma;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  -webkit-transition: 0.5s;
}

body {
  padding: 1%;
}

.row {
  float: left;
  width: 100%;
}

[class*="col"] {
  border: 5px solid white;
}
[class*="col"]:hover {
  cursor: pointer;
}
[class*="col"]::selection {
  background: red;
  color: white;
  text-shadow: none;
}

.col_1 {
  float: left;
  width: 100%;
  background: #399de0;
  padding: 24px;
  color: #f1f5f6;
}
.col_1:hover {
  background: #ec5141;
  -webkit-transition: 0.2s;
}
.col_1:active, .col_1:focus {
  background: #c53e30;
  -webkit-transition: 0.1s;
}

.col_2 {
  float: left;
  width: 50%;
  background: #3ea2e5;
  padding: 24px;
  color: #f6fafb;
}
.col_2:hover {
  background: #f15646;
  -webkit-transition: 0.2s;
}
.col_2:active, .col_2:focus {
  background: #ca4335;
  -webkit-transition: 0.1s;
}

.col_3 {
  float: left;
  width: 33.33333%;
  background: #43a7ea;
  padding: 24px;
  color: #fbffff;
}
.col_3:hover {
  background: #f65b4b;
  -webkit-transition: 0.2s;
}
.col_3:active, .col_3:focus {
  background: #cf483a;
  -webkit-transition: 0.1s;
}

.col_4 {
  float: left;
  width: 25%;
  background: #48acef;
  padding: 24px;
  color: white;
}
.col_4:hover {
  background: #fb6050;
  -webkit-transition: 0.2s;
}
.col_4:active, .col_4:focus {
  background: #d44d3f;
  -webkit-transition: 0.1s;
}

.col_5 {
  float: left;
  width: 20%;
  background: #4db1f4;
  padding: 24px;
  color: white;
}
.col_5:hover {
  background: #ff6555;
  -webkit-transition: 0.2s;
}
.col_5:active, .col_5:focus {
  background: #d95244;
  -webkit-transition: 0.1s;
}

.col_6 {
  float: left;
  width: 16.66667%;
  background: #52b6f9;
  padding: 24px;
  color: white;
}
.col_6:hover {
  background: #ff6a5a;
  -webkit-transition: 0.2s;
}
.col_6:active, .col_6:focus {
  background: #de5749;
  -webkit-transition: 0.1s;
}

.col_7 {
  float: left;
  width: 14.28571%;
  background: #57bbfe;
  padding: 24px;
  color: white;
}
.col_7:hover {
  background: #ff6f5f;
  -webkit-transition: 0.2s;
}
.col_7:active, .col_7:focus {
  background: #e35c4e;
  -webkit-transition: 0.1s;
}

.col_8 {
  float: left;
  width: 12.5%;
  background: #5cc0ff;
  padding: 24px;
  color: white;
}
.col_8:hover {
  background: #ff7464;
  -webkit-transition: 0.2s;
}
.col_8:active, .col_8:focus {
  background: #e86153;
  -webkit-transition: 0.1s;
}

.col_9 {
  float: left;
  width: 11.11111%;
  background: #61c5ff;
  padding: 24px;
  color: white;
}
.col_9:hover {
  background: #ff7969;
  -webkit-transition: 0.2s;
}
.col_9:active, .col_9:focus {
  background: #ed6658;
  -webkit-transition: 0.1s;
}

.col_10 {
  float: left;
  width: 10%;
  background: #66caff;
  padding: 24px;
  color: white;
}
.col_10:hover {
  background: #ff7e6e;
  -webkit-transition: 0.2s;
}
.col_10:active, .col_10:focus {
  background: #f26b5d;
  -webkit-transition: 0.1s;
}

.col_11 {
  float: left;
  width: 9.09091%;
  background: #6bcfff;
  padding: 24px;
  color: white;
}
.col_11:hover {
  background: #ff8373;
  -webkit-transition: 0.2s;
}
.col_11:active, .col_11:focus {
  background: #f77062;
  -webkit-transition: 0.1s;
}

.col_12 {
  float: left;
  width: 8.33333%;
  background: #70d4ff;
  padding: 24px;
  color: white;
}
.col_12:hover {
  background: #ff8878;
  -webkit-transition: 0.2s;
}
.col_12:active, .col_12:focus {
  background: #fc7567;
  -webkit-transition: 0.1s;
}
