// .
// . Background image mixins
// .     


@mixin logo-arrow {
    background-image: url(../images/tekrider/arrow-logo.png);
}

@mixin logo-arrow-white {
    background-image: url(../images/tekrider/logo-arrow-light.png);
}

@mixin logo-white-outlined {
    background-image: url(../images/tekrider/outline-logo.png);
}

@mixin logo-solid-black {
    background-image: url(../images/tekrider/solid-logo.png);
}