// .
// . Background texture mixins
// .   	

@mixin bg-texture-scale {
    background-size: auto;
    background-repeat: repeat repeat;
}
@mixin bg-light-denim {
    background-color: #f0f0f0;
    background-image: url(../images/background/debut_light.png);
}
@mixin bg-medium-denim {
    background-color: #e5e5e5;
    background-image: url(../images/background/debut_medium.png);
}
@mixin bg-medium-denim-2 {
    background-color: #e5e5e5;
    background-image: url(../images/background/debut_medium_2.png);
}
@mixin bg-dark-denim {
    background-color: #505050;
    background-image: url(../images/background/debut_dark.png);
}
@mixin bg-darker-denim {
    background-color: #010101;
    background-image: url(../images/background/debut_darker.png);
}
@mixin bg-scribble-light {
    background-color: #f2f2f2;
    background-image: url(../images/background/scribble_light.png);
}
@mixin bg-woodgrain-dark {
    background-color: #010101;
    background-image: url(../images/background/wood_1.png);
}
@mixin bg-noisy-grid {
    background-color: #010101;
    background-image: url(../images/background/noisy_grid.png);
}
@mixin bg-60-deg {
    background-color: #010101;
    background-image: url(../images/background/60degree_gray.png);
}
@mixin bg-wall-4 {
    background-image: url(../images/background/wall4.png);
}
@mixin bg-cartographer {
    background-color: #010101;
    background-image: url(../images/background/cartographer.png);
}
@mixin bg-carbon-fiber {
    background-color: #010101;
    background-image: url(../images/background/carbon_fibre_big.png);
}
@mixin bg-climpek {
    background-image: url(../images/background/climpek.png);
}
@mixin bg-broken-noise {
    background-color: #010101;
    background-image: url(../images/background/broken_noise.png);
}
@mixin bg-alu-dark {
    background-color: #010101;
    background-image: url(../images/background/brushed_alu_dark.png);
}
@mixin bg-dark-wall {
    background-image: url(../images/background/dark_wall.png);
}
@mixin bg-gray-paper {
    background-image: url(../images/background/extra_clean_paper.png);
}
@mixin bg-soft-wall {
    background-image: url(../images/background/soft_wallpaper.png);
}
@mixin bg-subtle-grunge {
    background-color: #f5f5f5;
    background-image: url(../images/background/subtle_grunge.png);
}
@mixin bg-subtle-grunge-dark {
    background-color: #e7e7e7;
    background-image: url(../images/background/subtle_grunge_dark.png);
}
@mixin bg-dark-wood {
    background-image: url(../images/background/dark_wood.png);
}
@mixin bg-dark-wood-2 {
    background-image: url(../images/background/dark_wood_2.png);
}
@mixin bg-tire {
    background-image: url(../images/background/dark_Tire.png);
}
@mixin bg-pinstripe {
    background-image: url(../images/background/pinstriped_suit.png);
}
@mixin bg-dark-denim-3 {
    background-image: url(../images/background/darkdenim3.png);
}
@mixin bg-black-twill {
    background-image: url(../images/background/black_twill.png);
}
@mixin bg-squairy {
    background-image: url(../images/background/squairy_light.png);
}
@mixin bg-subtle-freckles {
    background-image: url(../images/background/subtle_freckles.png);
}
@mixin bg-smooth-wall {
    background-image: url(../images/background/smooth_wall.png);
}
@mixin bg-redox-2 {
    background-image: url(../images/background/redox_02.png);
}
@mixin bg-light-paper-fibers {
    background-image: url(../images/background/lightpaperfibers.png);
}
@mixin bg-extra-clean-paper {
    background-image: url(../images/background/extra_clean_paper.png);
}
@mixin bg-carbon-fiber {
    background-image: url(../images/background/carbon_fibre.png);
}
@mixin bg-grey-washed-wall {
    background-image: url(../images/background/grey_wash_wall.png);
}
@mixin bg-lit-7 {
    background-color: #2c2c2c;
    background-image: url(../images/background/lit-header-bg-07.jpg);
}
@mixin bg-lit-8 {
    background-color: #2c2c2c;
    background-image: url(../images/background/lit-header-bg-08.jpg);
}
@mixin bg-contrast-linen {
    background-color: #767676;
    background-image: url(../images/background/low_contrast_linen.png);
}
@mixin bg-contrast-linen-light {
    background-color: #e1e1e1;
    background-image: url(../images/background/low_contrast_linen_light.png);
}
@mixin bg-contrast-linen-lighter {
    background-color: #e1e1e1;
    background-image: url(../images/background/low_contrast_linen_lighter.png);
}
@mixin bg-micro-carbon {
    background-color: #3f3f3f;
    background-image: url(../images/background/micro_carbon.png);
}
@mixin bg-light-noise-diagonal {
    background-color: #eceded;
    background-image: url(../images/background/light_noise_diagonal.png);
}
@mixin bg-light-toast {
    background-color: #eeeeee;
    background-image: url(../images/background/light_toast.png);
}
@mixin bg-kinda-jean {
    background-color: #e1e1e1;
    background-image: url(../images/background/kindajean.png);
}
@mixin bg-white-carbon-fiber {
    background-image: url(../images/background/white_carbonfiber.png);
}
@mixin bg-rubber-grip {
    background-image: url(../images/background/rubber_grip.png);
}
@mixin bg-reticular-tissue {
    background-image: url(../images/background/reticular_tissue.png);
}

@mixin bg-skulls {
    background-image: url(../images/background/skulls.png);
}

@mixin bg-all {
    background-image: url(../images/background/60degree_gray.png);
    background-image: url(../images/background/black_twill.png);
    background-image: url(../images/background/broken_noise.png);
    background-image: url(../images/background/brushed_alu_dark.png);
    background-image: url(../images/background/carbon_fibre.png);
    background-image: url(../images/background/carbon_fibre_big.png);
    background-image: url(../images/background/cartographer.png);
    background-image: url(../images/background/climpek.png);
    background-image: url(../images/background/dark_Tire.png);
    background-image: url(../images/background/dark_wall.png);
    background-image: url(../images/background/dark_wood.png);
    background-image: url(../images/background/dark_wood_2.png);
    background-image: url(../images/background/extra_clean_paper.png);
    background-image: url(../images/background/extra_clean_paper.png);
    background-image: url(../images/background/grey_wash_wall.png);
    background-image: url(../images/background/kindajean.png);
    background-image: url(../images/background/light_noise_diagonal.png);
    background-image: url(../images/background/light_toast.png);
    background-image: url(../images/background/lightpaperfibers.png);
    background-image: url(../images/background/lit-header-bg-08.jpg);
    background-image: url(../images/background/low_contrast_linen.png);
    background-image: url(../images/background/low_contrast_linen_light.png);
    background-image: url(../images/background/low_contrast_linen_lighter.png);
    background-image: url(../images/background/micro_carbon.png);
    background-image: url(../images/background/noisy_grid.png);
    background-image: url(../images/background/pinstriped_suit.png);
    background-image: url(../images/background/redox_02.png);
    background-image: url(../images/background/reticular_tissue.png);
    background-image: url(../images/background/rubber_grip.png);
    background-image: url(../images/background/scribble_light.png);
    background-image: url(../images/background/smooth_wall.png);
    background-image: url(../images/background/soft_wallpaper.png);
    background-image: url(../images/background/squairy_light.png);
    background-image: url(../images/background/subtle_freckles.png);
    background-image: url(../images/background/subtle_grunge.png);
    background-image: url(../images/background/subtle_grunge_dark.png);
    background-image: url(../images/background/wall4.png);
    background-image: url(../images/background/white_carbonfiber.png);
    background-image: url(../images/background/wood_1.png);
    background-image: url(../images/background/darkdenim3.png);
    background-image: url(../images/background/debut_dark.png);
    background-image: url(../images/background/debut_darker.png);
    background-image: url(../images/background/debut_light.png);
    background-image: url(../images/background/debut_medium.png);
    background-image: url(../images/background/debut_medium_2.png);
}