// .
// . About > Emily Head page
// .   	

#img_emily_1 {
  
  float: right;
  margin-left: $base-gutter;
  margin-bottom: $base-gutter;
  width: 100%;

  @include bp(desktop) {
    max-width: 350px;
  }

}