// .
// . About Steve Brand page
// .   	

// Image gallery container
.steve-gallery {
	@include grid-parent;
}

// Image gallery image
.steve-gallery img {

	@include grid-item(2);

	@include bp(tablet) {
    @include grid-item(4);
  }

}