body {
  margin: 0;
}

.viewport-height {
  font-size: 100vh;
}

.viewport-height:before {
  content: "\00a0";
  font-size: 0px;
}

.theme {
  background: -webkit-linear-gradient(#CD2742, #FDBA1C) left repeat;
  background: linear-gradient(#CD2742, #FDBA1C) left repeat;
}
