// .
// . Page layout
// .     

$page-layout: (
    padding: $base-gutter,
);

// . Page wrapper
// ------------------------------------------------------ x

#page_container {
    
    float: left;
    width: 100%;
    @include bg-light-denim;

    // * begin: sticky footer styles *
    position: relative;
    min-height: 90%;
    &:after {
        content: "";
        display: block;
    }
    // * end: sticky footer styles *

}


// . Articles
// ------------------------------------------------------ x

// article
article {}

// article header
article > header {
  padding: map-get($page-layout, padding);
}

// all sections following the article header
article > header ~ section {
  padding-top: 0;
}

// section inside article
article section {
   padding: map-get($page-layout, padding);
}


// . Sections
// ------------------------------------------------------ x

// section
section {
   padding: map-get($page-layout, padding);
}

// section without padding
section.full {

  padding: 0 !important; // overide parent styles since this will only be used selectively

  & + section {
    padding-top: map-get($page-layout, padding); // give next section top padding to compensate padding offset
  }

}

// section header
section header {
   padding: 0;
}

// section within a section
section section {

   padding: 0;

   &:last-child {
      padding-bottom: 0;
   }

}

// section article (e.g. blog post)
section article {
  padding: map-get($page-layout, padding);
}

// . Aside
// ------------------------------------------------------ x

aside {
  padding: map-get($page-layout, padding);
}

// . Layout margin exceptions
// ------------------------------------------------------ x

article > header > *:first-child {
   margin-top: 0; // remove top margin from first element in article header
}

section > *:first-child {
   margin-top: 0; // remove top margin from first element inside section
}

section > header > *:first-child {
   margin-top: 0; // remove top margin from first element in section header
}

article > header > *:last-child {
   margin-bottom: 0; // remove bottom margin from last element in section header
}