// .
// . Page sidebar
// .    

$page-sidebar: ();

// . Real sidebar
// ------------------------------------------------------ x

// sidebar elements
section.sidebar, aside.sidebar {

  width: 100%;
  
  @include bp(desktop) {
    @include span(3 of 12);
  }

  // section after sidebar section
  & + section {
    width: 100%;
    
    @include bp(desktop) {
      @include span(9 of 12);
    }
    
  }

}

// . Dummy sidebar
// ------------------------------------------------------ x

.page-sidebar {
  // hidden for now
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: $article-sidebar-w;
  @include bg-medium-denim-2;
  @include bp(desktop) { display: block; }
}