@media all and (max-width: 750px) {
  html {
    padding-top: 0px!important;
  }
  body {
    border: none!important;
  }
}

* {
  box-sizing: border-box;
}

html {
  background: #e6e6e6;
  padding-top: 30px;
  background: -webkit-radial-gradient(center, ellipse cover, #BBBBBB 0%, #FFFFFF 100%);
}

body {
  max-width: 750px;
  margin: 0 auto;
  padding: 15px;
  background: white;
  border-top: solid rgb(97, 97, 97) 15px;
}

H1 {
  color: rgb(51, 51, 51);
  cursor: text;
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none solid rgb(51, 51, 51);
  word-wrap: break-word;
  border-bottom: 1px solid rgb(221, 221, 221);
  font: normal normal bold 38px/63px Helvetica, arial, freesans, clean, sans-serif;
  margin: 0px 0px 15px;
}


/*H1*/

H2 {
  color: rgb(51, 51, 51);
  cursor: text;
  height: 51px;
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none solid rgb(51, 51, 51);
  width: 722px;
  word-wrap: break-word;
  border-top: 0px none rgb(51, 51, 51);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 0px none rgb(51, 51, 51);
  font: normal normal bold 30px/51px Helvetica, arial, freesans, clean, sans-serif;
  margin: 30px 0px 15px;
  outline: rgb(51, 51, 51) none 0px;
}


/*H2*/

xmp {
  display: inline;
  vertical-align: top;
  color: #808080;
}

#PRE_1 {
  height: auto;
  width: 100%;
  border-right: 4px solid rgb(187, 187, 187);
  border-left: 4px solid rgb(187, 187, 187);
  font: normal normal normal 12px/18px Monaco, Consolas, 'Lucida Console', monospace;
  margin: 0px 0px 25px;
  padding: 2px 0px 2px 15px;
}


/*#PRE_1*/

#PRE_2 {
  height: auto;
  width: 100%;
  box-shadow: rgb(238, 238, 238) 0px 1px 3px 0px;
  box-sizing: border-box;
  color: rgb(53, 53, 53);
  text-decoration: none solid rgb(53, 53, 53);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 1px solid rgb(231, 231, 231);
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(231, 231, 231);
  border-radius: 3px 3px 3px 3px;
  font: normal normal normal 14px/19px monospace;
  margin: 20px 0px;
  outline: rgb(53, 53, 53) none 0px;
  padding: 20px;
}


/*#PRE_2*/

#PRE_3 {
  height: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 5px 0px;
  color: rgb(70, 72, 62);
  text-decoration: none solid rgb(70, 72, 62);
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(244, 244, 244))) repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal 12px/18px Monaco, 'Andale Mono', 'Courier New', monospace;
  margin: 0px 0px 20px;
  border-radius: 3px 3px 3px 3px;
  padding: 15px;
}


/*PRE_3*/

#PRE_4 {
  color: rgb(51, 51, 51);
  text-decoration: none solid rgb(51, 51, 51);
  background: rgb(248, 248, 248) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px 3px 3px 3px;
  font: normal normal normal 13px/19px Consolas, 'Liberation Mono', Courier, monospace;
  margin: 15px 0px;
  outline: rgb(51, 51, 51) none 0px;
  overflow: auto;
  padding: 6px 10px;
}


/*PRE_4*/

#PRE_5 {
  color: rgb(51, 51, 51);
  text-decoration: none solid rgb(51, 51, 51);
  background: rgb(238, 255, 204) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 1px solid rgb(170, 204, 153);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 1px solid rgb(170, 204, 153);
  border-left: 0px none rgb(51, 51, 51);
  font: normal normal normal 13px/15px monospace;
  outline: rgb(51, 51, 51) none 0px;
  overflow: auto;
  padding: 5px;
}


/*PRE_5*/

#PRE_6 {
  color: rgb(68, 68, 68);
  text-decoration: none solid rgb(68, 68, 68);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(221, 221, 221);
  font: normal normal normal 16px/24px monaco, monospace;
  margin: 0px 0px 10px;
  outline: rgb(68, 68, 68) none 0px;
  padding: 15px 20px;
}


/*PRE_6*/

#PRE_7 {
  color: rgb(0, 102, 0);
  text-align: left;
  text-decoration: none solid rgb(0, 102, 0);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(0, 102, 0);
  border-right: 0px none rgb(0, 102, 0);
  border-bottom: 0px none rgb(0, 102, 0);
  border-left: 1px solid rgb(204, 204, 204);
  font: normal normal normal 13px/18.65625px monospace;
  margin: 22.6px;
  outline: rgb(0, 102, 0) none 0px;
  overflow: auto;
  padding: 5px 5px 5px 13px;
}


/*PRE_7*/