// .
// . Link Selectors
// .   	

// 
//	Usage:
// 
//	#{$a-tags} {
//	  color: red;
//	  text-decoration: none;
//	}
// 
//	#{$a-tags-hover} {
//	  color: blue;
//	}
//	

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';