/* line 6, libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, libs/_reset.scss */
a img {
  border: none;
}

/* line 12, libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 38, screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 42, screen.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, screen.scss */
.max-width {
  max-width: 100%;
  height: auto;
}

/* line 14, libs/_typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.66667em 0;
}

/* line 19, libs/_typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 1.06667em 0 0.53333em 0;
}

/* line 24, libs/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 1.45455em 0 0.72727em 0;
}

/* line 29, libs/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

/* line 34, libs/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.44444em 0;
}

/* line 39, libs/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

/* line 44, libs/_typography.scss */
p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 49, libs/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

/* line 54, libs/_typography.scss */
li {
  line-height: auto;
}

/* line 61, libs/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

/* line 62, libs/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 63, libs/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 64, libs/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 8, libs/_forms.scss */
label, select {
  display: block;
}

/* line 12, libs/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 20, libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 24, libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 42, libs/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 53, libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 67, libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 72, libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}