// .
// . Selection inputs
// .   	

select {
	color: $color-dgr-2;
	border: 1px solid $color-gr-6;
	line-height: 1;
	padding: 1/4 * $base-gutter;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	border-color: #27ae60;
	border-style: solid;
	border-width: 1px;
	line-height: 1;
}