// .
// . Text inputs
// .   	

*:focus {
    outline: 0;
}

input, textarea {
	color: $color-dgr-2;
	outline: none;
	border: 1px solid $color-gr-6;
  border-radius: 3px;
  box-shadow: none;
  padding: 0.5em;
}

input:focus, textarea:focus {
  box-shadow: none;
	border-color: #00ADFF;
	border-style: solid;
	border-width: 1px;
}


input:required {
  border-color: 1px solid #8C8C8C;
}

input:focus:invalid {
  border-color: #c0392b;
}

input:focus:valid {
  border-color: #27ae60;
}
