<? Phpr_View::beginBlock("view") ?>

	<ul class="breadcrumbs">
		<li><a href="<?= url('/tekriderblog/posts') ?>">Tekrider Blog Posts</a></li>
		<li><?= $this->app_page_title ?></li>
	</ul>

	<?= flash() ?>

	<? if (!isset($fatalError)): ?>
		<div class="form600">
			<?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
				<? $this->formRender() ?>

				<?= backend_ajax_button('Save', 'create_onSave',  array(), "prepareFunction: function(){phprTriggerSave();}") ?>

				<?= backend_ajax_button('Cancel', 'create_onCancel') ?>
				<div class="clear"></div>
			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('/tekriderblog/posts') ?>">Return to the post list</a></p>
	<? endif ?>

<? Phpr_View::endBlock() ?>