<div class="list_controlPanel">
	<?= backend_button('Create post', url('/tekriderblog/posts/create')) ?>
	<div class="clear"></div>
</div>

<?= $this->listRender(array('list_render_filters'=>true)) ?>