body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  line-height: 1.6;
  color: #222;
}

* {
  box-sizing: border-box;
}

.inner-page {
  padding: 15px;
}

.inner-page > *:nth-of-type(1) {
  margin-top: 0;
}

a {
  color: red;
  text-decoration: none;
}

a.letterpress {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #919191;
  border-radius: 3px;
  color: #222;
}

a.block {
  margin: 0 2px;
  padding: 2px 5px;
  background: #383838;
  color: #919191;
}

a.block:hover {
  border-color: red;
}

a.pill {
  margin: 0 2px;
  border-radius: 3px;
  padding: 2px 5px;
  background: #383838;
  color: #919191;
}

a.underline {
  margin: 0 2px;
  color: #222;
  border: 0;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #a7a7a7;
}

a.underline.dotted {
  border-style: dotted;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 2px solid #222;
}