// .
// . Bullet list
// .   	

$bullet-list-color: #444;

//-product description bullets-//
.bullet {

	$gutter: $base-gutter;

    padding-left: $gutter;
    
    & li {

        margin-bottom: $gutter * 2/5;
        color: $bullet-list-color;

        &:before {

            content:"\25A0";
            padding-right: 0.7em;
            vertical-align: 9%;
            color: lighten( $bullet-list-color, 25%);
			       margin-left: -$gutter;

        }

        &:last-child {
            margin-bottom: 0;
        }

    }

}