// .
// . Tool-tip
// .     

//  TODO: example

.has-tooltip {

  $tooltip-bg-color: rgba(0,0,0,0.8);
  position:relative;

  .tooltip {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    pointer-events: none;
    position:absolute;
    z-index:9999;
    left:50%;
    top:-40px;
    opacity:0;
    transition: opacity 300ms ease-out;

    span {

      display:block;
      white-space:nowrap;
      position:relative;
      background:$tooltip-bg-color;
      border-radius: 3px;
      padding: 6px;
      left:-50%;
      font-size:14px;
      color:#fff;

      &:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-top-color: $tooltip-bg-color;
        border-width: 6px;
        left: 50%;
        margin-left: -6px;
      }

    }

  }

  &:hover span{
    opacity:1;
  }

}