body,
html {
  height: 100%;
  margin: 0;
}

.centered-parent,
.drawing {
  height: auto;
  width: 100%;
  background: gray;
  text-align: center;
  overflow: hidden;
}

.centered-parent:before,
.drawing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /* Adjusts for spacing */
  margin-right: -0.25em;
}

.centered-child,
.fin {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: auto;
}

.drawing {
  background: #00B4FF;
  height: 100%;
  width: 100%;
}

.fin .head .middle {
  position: relative;
  height: 200px;
  width: 288px;
  background: white;
}

.fin .head .middle .face {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 36px;
  width: 216px;
  background: #fbd0c0;
  border-radius: 50%;
}

.fin .head .top {
  position: relative;
  height: 40px;
  width: 288px;
}

.fin .head .top .ear,
.fin .head .top .tip {
  position: absolute;
  background: white;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

.fin .head .top .ear.left {
  left: 0;
  width: 72px;
  height: 100%;
}

.fin .head .top .tip {
  left: 57.6px;
  right: 57.6px;
  top: 55%;
  bottom: -56px;
}

.fin .head .top .ear.right {
  right: 0;
  left: auto;
  width: 72px;
  height: 100%;
}

.fin .face .eyes {
  position: absolute;
  height: 50%;
  width: 100%;
}

.fin .face .eyes .eye {
  position: absolute;
  top: 75%;
  height: 14px;
  width: 14px;
  background: #222;
  border-radius: 50%;
}

.fin .face .eyes .eye.left {
  left: 25%;
}

.fin .face .eyes .eye.right {
  right: 25%;
}

.fin .face .mouth {
  position: absolute;
  border: 6px solid #222;
  bottom: 20%;
  height: 33%;
  left: 30%;
  right: 30%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  clip: rect(48px, 90px, 72px, 0px);
}

.fin .head .bottom {
  position: relative;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  height: 40px;
  width: 288px;
  background: white;
}