$text-color: #222;
$link-color: red;

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  line-height: 1.6;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

.inner-page {
  padding: 15px;
}

// remove top margin from first element inside of .inner-page
.inner-page > *:nth-of-type(1) {
  margin-top: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {}
  &:active {}
}

a.letterpress {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid scale-lightness($text-color, 50);
  border-radius: 3px;
  color: $text-color;
  &:hover {}
  &:active {}
}

a.block {
  margin: 0 2px;
  padding: 2px 5px;
  background: scale-lightness($text-color, 10);
  color: scale-lightness($text-color, 50);
  &:hover {
    border-color: scale-lightness($link-color, 0);
  }
  &:active {}
}

a.pill {
  margin: 0 2px;
  border-radius: 3px;
  padding: 2px 5px;
  background: scale-lightness($text-color, 10);
  color: scale-lightness($text-color, 50);
  &:hover {}
  &:active {}
}

a.underline {
  margin: 0 2px;
  color: $text-color;
  border: 0;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: scale-lightness($text-color, 60);
  &:hover {}
  &:active {}
  // Dotted
  &.dotted {
    border-style: dotted;
  }
}

// Stand alone buttons
.btn {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 2px solid $text-color;
}