%ul
    %li.current
        %span Billing
    %li
        %span Shipping
    %li
        %span Options
    %li
        %span Payment
%ul
    %li
        %span Billing
    %li.current
        %span Shipping
    %li
        %span Options
    %li
        %span Payment
%ul
    %li
        %span Billing
    %li
        %span Shipping
    %li.current
        %span Options
    %li
        %span Payment
%ul
    %li
        %span Billing
    %li
        %span Shipping
    %li
        %span Options
    %li.current
        %span Payment