// .
// . Button colors
// .   	

$button-background: $color-dgr-3;
$button-background-hover: $color-dgr-4;
$button-background-active: $color-dgr-4;

// tekrider_mixins.scss

$btn-tag-color: scale-lightness($color-a-3,15);