// .
// . Website colors
// .     


// . Basic colors
// ------------------------------------------------------ x

$red:    #DF151A; 
$orange: #FD8603; 
$yellow: #FFDD00; 
$green:  #90D228; 
$blue:   #1693A5; 
$indigo: #3A3862; 
$violet: #270F3D; 

	
// . Website color pallet
// ------------------------------------------------------ x

$color-a: #F54F00;
$color-d: #86B8B1;

// . Text selection colors
// ------------------------------------------------------ x

$selection-bg-color: black;
$selection-text-color: white;

// . Color variation settings
// ------------------------------------------------------ x

$color-shade-mod: 1;
$color-white-tint: 90%;
$color-black-tint: 90%;
$color-saturation: 0;
$color-bw-saturation: 90%;
$color-gray-saturation: 90%;
$color-light-amt: 20;

  
// . Color variations
// ------------------------------------------------------ x

// Lighten basic colors

$red-wh   : lighten($red,    $color-light-amt);
$orange-wh: lighten($orange, $color-light-amt);
$yellow-wh: lighten($yellow, $color-light-amt);
$green-wh : lighten($green,  $color-light-amt);
$blue-wh  : lighten($blue,   $color-light-amt);
$indigo-wh: lighten($indigo, $color-light-amt);
$violet-wh: lighten($violet, $color-light-amt);

// Darken basic colors

$color-shade-amt: 15;
$red-bl   : darken($red,    $color-shade-amt);
$orange-bl: darken($orange, $color-shade-amt);
$yellow-bl: darken($yellow, $color-shade-amt);
$green-bl : darken($green,  $color-shade-amt);
$blue-bl  : darken($blue,   $color-shade-amt);
$indigo-bl: darken($indigo, $color-shade-amt);
$violet-bl: darken($violet, $color-shade-amt);

// Primary color variations

$color-a-1: $color-a;
$color-a-1: saturate($color-a-1, $color-saturation);
$color-a-2: lighten($color-a-1,(10*$color-shade-mod));
$color-a-3: lighten($color-a-1,(20*$color-shade-mod));
$color-a-4: lighten($color-a-1,(30*$color-shade-mod));
$color-a-5: lighten($color-a-1,(40*$color-shade-mod));
$color-a-6: lighten($color-a-1,(50*$color-shade-mod));
$color-a-wh: shade(desaturate($color-a-1,$color-bw-saturation), $color-black-tint);
$color-a-bl: lighten(desaturate($color-a-1,$color-bw-saturation), $color-white-tint);
$color-a-gr-1: darken(desaturate($color-a-1,$color-gray-saturation),16);
$color-a-gr-2: darken(desaturate($color-a-1,$color-gray-saturation),33);
$color-a-gr-3: darken(desaturate($color-a-1,$color-gray-saturation),50);
$color-a-gr-4: darken(desaturate($color-a-1,$color-gray-saturation),60);

// Accent color variations

$color-d-1: $color-d;
$color-d-1: saturate($color-d-1, $color-saturation);
$color-d-2: lighten($color-d-1,(10*$color-shade-mod));
$color-d-3: lighten($color-d-1,(20*$color-shade-mod));
$color-d-4: lighten($color-d-1,(30*$color-shade-mod));
$color-d-5: lighten($color-d-1,(40*$color-shade-mod));
$color-d-6: lighten($color-d-1,(50*$color-shade-mod));
$color-d-wh: shade(desaturate($color-d-1,$color-bw-saturation), $color-black-tint);
$color-d-bl: lighten(desaturate($color-d-1,$color-bw-saturation), $color-white-tint);
$color-d-gr-1: darken(desaturate($color-d-1,$color-gray-saturation),16);
$color-d-gr-2: darken(desaturate($color-d-1,$color-gray-saturation),33);
$color-d-gr-3: darken(desaturate($color-d-1,$color-gray-saturation),50);
$color-d-gr-4: darken(desaturate($color-d-1,$color-gray-saturation),60);

// Gray variations

$color-gr-1: darken(white,(1/8*10));
$color-gr-2: darken(white,(2/8*10));
$color-gr-3: darken(white,(3/8*15));
$color-gr-4: darken(white,(4/8*20));
$color-gr-5: darken(white,(5/8*25));
$color-gr-6: darken(white,(6/8*30));
$color-gr-7: darken(white,(7/8*35));
$color-gr-8: darken(white,(8/8*40));

// Dark gray variations

$color-dgr-1: darken(white, 25);
$color-dgr-2: darken(white, 50);
$color-dgr-3: darken(white, 75);
$color-dgr-4: darken(white, 90);

// Dark gray variations

$color-bl-1: darken(white,90);
$color-bl-2: darken(white,91);
$color-bl-3: darken(white,92);
$color-bl-4: darken(white,93);
$color-bl-5: darken(white,94);
$color-bl-6: darken(white,95);
$color-bl-7: darken(white,96);
$color-bl-8: darken(white,97);