<? Phpr_View::beginBlock("head") ?>

	<script type="text/javascript" src="modules/tekriderblog/resources/javascript/category.js"></script>

<? Phpr_View::endBlock() ?>

<? Phpr_View::beginBlock("view") ?>

	<ul class="breadcrumbs">
		<li><a href="<?= url('/tekriderblog/categories') ?>">Categories</a></li>
		<li><?= $this->app_page_title ?></li>
	</ul>

	<?= flash() ?>

	<? if (!isset($fatalError)): ?>
		<div class="form400">
			<?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
				<? $this->formRender() ?>

				<?= backend_ajax_button('Create', 'create_onSave', array('class'=>'default')) ?>
				<?= backend_ajax_button('Cancel', 'create_onCancel') ?>
				<input type="hidden" value="1" id="new_record_flag"/>

				<div class="clear"></div>
			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('/tekriderblog/categories') ?>">Return to the category list</a></p>
	<? endif ?>

<? Phpr_View::endBlock() ?>