<? Phpr_View::beginBlock("view") ?>

	<ul class="breadcrumbs">
		<li><a href="<?= url('/tekriderblog/categories') ?>">Categories</a></li>
		<li><?= $this->app_page_title ?></li>
	</ul>

	<?= flash() ?>

	<? if (!isset($fatalError)): ?>
		<div class="form400">
			<?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
				<? $this->formRender() ?>

				<?= backend_ajax_button('Save', 'edit_onSave', array('class'=>'default')) ?>
				<?= backend_ajax_button('Cancel', 'edit_onCancel') ?>
				<?= backend_ajax_button('Delete', 'edit_onDelete', array('class'=>"right"), "confirm: 'Do you really want to delete this category?'") ?>
				<div class="clear"></div>
			</form>
		</div>
	<? else: ?>
		<p><a href="<?= url('/tekriderblog/categories') ?>">Return to the category list</a></p>
	<? endif ?>

<? Phpr_View::endBlock() ?>