// .
// . Simple grid mixin system
// .

@mixin grid-parent($tpad:"") {

  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  overflow: hidden;

  &:after {
    content: "";
    display: inline-block;
    //width: 100%;
  }

  @if $tpad != "" {
    margin-right: -1 * $tpad;
    width: auto;
  }

}

@mixin grid-item($col: 4, $len: 1, $tpad:"") {

  vertical-align: top;
  display: inline-block;
  width: (100%/$col)*$len;
  text-align: left;
  font-size: 16px;

  @if $tpad != "" {
    padding-right: $tpad;
    margin-bottom: $tpad;
  }

}