// .
// . 404 wireframe text
// .   	

// wrapper
.four-zero-four {

	& svg {
	  margin: 0 auto;
	  display: block;
	}

	& polygon {
	  transform:rotateY(-180deg) scale(0);
	  transition:all 0.4s cubic-bezier(0.590, 0.720, 0.375, 1.650);
	  transform-origin:center;
	  stroke: #FF631E;
	}

	& polygon.processed {
	  transform:rotateY(0deg) scale(1);
	}

}
