// .
// . Website background
// .   	

$bg-ski: url('#{$image-path}background/bg-ski.jpg');
$bg-mountain: url('#{$image-path}background/bg-mountain.jpg');
$bg-summer: url('#{$image-path}background/bg-summer.jpg');
$bg-winter: url('#{$image-path}background/bg-winter.jpg');

html {

	background: #080808;
  background: #080808 $bg-ski bottom right fixed no-repeat;
  background-size: cover;

}