// .
// . Canada widget
// .   	

.canada-seal-container {

    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    user-select: none;

    // only show desktop upwards
    display: none;

    @include bp(desktop)    {
        display: inline-block;
    }

    // hide before body overlaps element
    @media (max-width: 1135px) {
        display: none;
    }

    & .inner-wrapper {

        opacity: 0.2;
        padding: 0.9em;
        
        & img.canada-icon {
            max-width: 15px;
            vertical-align: middle;
            width: 100%;
        }

        & span.tagline {

            color: white;

            // prevent tagline from overlapping body
            @media (max-width: 1480px) {
                display: none;
            }

            & a {
                color: white;
                &:visited { color: white; }
                &:hover { color: white; }
                &:active { color: white; }
            }

        }

    }

}