// .
// . Cart product table
// .    

$cart-table: (
    border: 1px solid $color-gr-6,
    header-text-color: $color-dgr-3,
    cell-text-color: $color-dgr-2,
    button-background: #5B5B5B,
    button-background-hover: #FF4500,
    button-text-color: white,
);

// . Table html
// ------------------------------------------------------ x

// table container
table.shopping-cart {

    width: 100%;
    font-size: 0.8em;
    text-align: center;

}

// table row
.shopping-cart tr {

    width: 100%;
    background: linear-gradient(
                180deg, rgba($color-gr-3,0.9) 0%,
                rgba($color-gr-5, 0.9) 100%); /* w3c */
    color: map-get($cart-table, cell-text-color);

}

// table header
.shopping-cart tr.head {

    background: linear-gradient(
                180deg, rgba($color-gr-3,0.75) 0%,
                rgba($color-gr-6, 0.8) 100%); /* w3c */

    // table header cell
    & td {
        color: map-get($cart-table, header-text-color);
        font-weight: bold;
    }
    
}//.shopping-cart tr.head


// table cell
.shopping-cart td {

    padding: $base-gutter/2;
    border: map-get($cart-table, border);
    vertical-align: middle;

}

// . Table columns
// ------------------------------------------------------ x

// table cell: product name
.shopping-cart td.name {
    text-align: left;
}

// table cell: options
.shopping-cart td.options {

    font-size: 0.9em;

    @include bp(desktop) {
        font-size: 1em;
    }
    
}

// table cell: quantity
.shopping-cart td.quantity {}

// table cell: price
.shopping-cart td.price {}

// table cell: action
.shopping-cart td.actions {}

// . Product column
// ------------------------------------------------------ x

// product image
.shopping-cart td.name img {

    max-height: 50px;
    width: auto;
    margin-right: $base-gutter/2;
    border: map-get($cart-table, border);

    @include bp(desktop) {
      max-height: 60px;
    }

}

// product name link
.shopping-cart td.name a {

    display: inline-block; // * for vertical aligment
    vertical-align: middle; // * for vertical aligment

}

// . Quantity column
// ------------------------------------------------------ x

// quantity input label
.shopping-cart td.quantity label {
    display: none;
}

// quantity number input
.shopping-cart td.quantity input {
    max-width: 60px;
}

// . Button column
// ------------------------------------------------------ x

// cart table button
.cart-button {

    padding: 0;
    margin: 0;
    border: 0;
    background: map-get($cart-table, button-background);
    color: map-get($cart-table, button-text-color);
    //text-shadow: 1px 1px rgb(150, 150, 150); // slightly darker than bg
    padding: 6px;
    border-radius: 50%;

    // mouseover
    &:hover {

        background: map-get($cart-table, button-background-hover);
        text-shadow: none;

    }

}

// delete product button
.cart-button.delete {

    @include bp(mobile) {
        display: none;
    }

}

// update product button
.cart-button [data-icon]:before {
    display: block;
}