// .
// . Cart cost summary
// .    

$cart-cost-summary: (
    border: 1px solid #D6D6D6,
);

// container section
.cart-page section.summary {

  & h2 {
    margin-top: 0;
  }

  ul.cart-totals {

    @include container; // * SUSY
    margin: 1.15em 0;

    & li {
    
      @include span(3 of 12); // * SUSY
      
      padding-left: $base-gutter;
      border-right: map-get($cart-cost-summary, border);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      & *:first-child {
        margin-top: 0;
      }

      & *:last-child {
        margin-bottom: 0;
      }
    
    }//& li
    
    // gift code input
    & #gift-code {

      padding: 0.5em;
      font-size: 0.9em;

    }
    
  }

}//.cart-page section.summary