// .
// . Checkout order cost summary
// .   	


// . All totals
// ------------------------------------------------------ x

// order summary container
.order-summary {

	& h4 {
		@include info-box-label;
		margin: 0;
	}

	& p {
		margin: 0;
		padding: 1/3 * $base-gutter;
		border: 1px solid #E5E5E5;
		border-top: 0;
		text-align: center;
		background: white;
		color: $flat-gray-4;
	}

}

// . Sub totals
// ------------------------------------------------------ x

// sub totals wrapper
.order-summary .sub-totals {

	text-align: center;
	
	// sub cost title
	& h4 {
		text-align: center;
	}
	
	// sub cost $ amount
	& p {}

}

// . Total
// ------------------------------------------------------ x

.order-summary .order-total {

	& h4 {}
	
	& p {
		text-align: right;
	}

}