// .
// . Checkout progress
// .

$checkout-progress: (
  icon-size: 24px,
  icon-background: $flat-gray-4,
  icon-background-active: #474747,
  icon-background-done: $flat-orange-2,
  icon-background-disabled: $flat-gray-4,
  icon-line-color: $color-dgr-1,
  icon-line-size: 1px,
);

// checkout step container
ul.checkout-progress {
  width: 100%;
  counter-reset: checkout_progress;
}

// checkout step
.checkout-progress li {

  position: relative;
  z-index: 2;
  font-size: 0.8em;
  margin-top: 0.5em;
  color: gray;

  &:first-child {
    margin-top: 0;
  }

}

// checkout step title
.checkout-progress span {

  display: table-cell;
  vertical-align: middle;
  text-indent: 0.5em;
  font-weight: 700;

}

// . Step states
// ------------------------------------------------------ x

// active checkout step
.checkout-progress li.current {

  font-weight: 700;
  color: map-get($checkout-progress, icon-background-active);
  
  &:before {
    background: map-get($checkout-progress, icon-background-active);
    border-color: rgba( map-get($checkout-progress, icon-background-active) ,0);
    color: white;
  }

}

// completed checkout step
.checkout-progress li.completed {

  & a {
    color: map-get($checkout-progress, icon-background-done);
    font-weight: 700;
  }
  
  &:before {
    background: map-get($checkout-progress, icon-background-done);
    border-color: rgba( map-get($checkout-progress, icon-background-done) ,0);
    color: white;
  }

}

// disabled (upcoming) checkout step 
.checkout-progress li.disabled {
  & span {
    font-weight: normal;
  }
}

// . Checkout step icon
// ------------------------------------------------------ x


// icon selector
.checkout-progress li:before {

  position: relative;
  z-index: 2;
  // theme
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: map-get($checkout-progress, icon-size)
 - map-get($checkout-progress, icon-line-size);
  height: map-get($checkout-progress, icon-size)
 - map-get($checkout-progress, icon-line-size);
  background: map-get($checkout-progress, icon-background-disabled);
  border-radius: 50%;
  color: $flat-gray-1;
  // counter
  content: counter(checkout_progress);
  counter-increment: checkout_progress;

}

// line underneath icon
.checkout-progress li:not(:last-of-type):after {
  position: absolute;
  z-index: 1;
  content: "";
  top: map-get($checkout-progress, icon-size)
;
  width: (map-get($checkout-progress, icon-size)
)/2;
  height: map-get($checkout-progress, icon-size)
 / 2;
  border-right: map-get($checkout-progress, icon-line-size) solid lighten(map-get($checkout-progress, icon-line-color), 1%);
}


// . Checkout page changes
// ------------------------------------------------------ x

// checkout step page title icon
h1.page-title.checkout span {

  // theme page title to match progress icons
  color: map-get($checkout-progress, icon-background-active);

}