// .
// . Checkout order information
// .   	

// review step billing & shipping info container
.order-information {

  @include container;
  max-width: none;
  margin: 0 ($base-gutter / -2);

  // billing & shipping wrappers
  & .order-billing, & .order-shipping {
    
    @include span( 6 of 12 );
    padding: 0 ($base-gutter / 2);
    
    // table header
    & header {

      @include info-box-label();
      margin-bottom: 0;
      
      & h3 {
        margin: 0;
      }
    
    }//& header

    // table body
    & .body {
      
      padding: $base-gutter;
      display: inline-block;
      border: 1px solid #E5E5E5;
      border-top: 0;
      background: #FFF;
      
      p {
        display: inline-block;
        @include span( 3 of 6 );
        margin-top: 0;
        margin-bottom: 1/3 * $base-gutter;
      }
      
      // every other item
      // * required by lemonstand generated markup
      p:nth-child(odd) {
        font-weight: 700;
      }

    }//& .body

  }//& .order-billing, & .order-shipping
}//.order-information
