// .
// . Checkout payment method step label
// .   	

.payment-method-label {

  & .method-name {

    margin-right: 1/3 * $base-gutter; 

  }

  & .payment-img {

    max-height: $base-gutter;
    margin-right: 0.5em;
    width: auto;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }

  }

}