// .
// . Checkout review table
// .     

$checkout-review-table: ();

table.order-review-cart {
    font-size: 0.8em;
    $base-color: #555;
    margin-bottom: $base-gutter;
    width: 100%;
    @include bg-soft-wall;
    border-right: 1px solid rgba(129, 129, 129, 0.25);
    @include bp(mobile) {
        background: none;
        border: 0;
    }

    & tbody {
        width: 100%;
    }

    & tr {
        width: 100%;
        float: none;
        border-bottom: 1px solid rgba(129, 129, 129, 0.25);
        @include bp(mobile) {
            float: left;
            margin-bottom: $g3;
            @include bg-soft-wall;
            border: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.head {
            background: rgba(211, 211, 211, 0.5);
            background: linear-gradient(180deg,
                        rgba(255, 255, 255, 0.25) 0%,
                        rgba(148, 148, 148, 0.25) 100%); /* w3c */
            text-shadow: 0 1px rgba(255, 255, 255, 0.5);
            border-top: 1px solid rgba(129, 129, 129, 0.25);
            @include bp(mobile) {
                display: none;
            }
            & .short {
                @include bp(mobile) {
                    display: inherit;
                }
                @include bp(tablet) {
                    display: inherit;
                }
                @include bp(desktop) {
                    display: none;
                }
                @include bp(widescreen) {
                }
            }
            & .long {
                @include bp(mobile) {
                    display: none;
                }
                @include bp(tablet) {
                    display: none;
                }
                @include bp(desktop) {
                    display: inherit;
                }
                @include bp(widescreen) {
                }
            }
        }
    }
    & th {
        padding: $base-gutter/2;
        font-weight: 700;
        border-left: 1px solid rgba(129, 129, 129, 0.25);
    }
    & td {
        color: #666;
        padding: $base-gutter/2;
        @include bp(mobile) {
            text-shadow: 0px -1px rgba(255, 255, 255, 0.5);
            width: 100%;
            padding: 0;
            text-align: center;
            line-height: 2;
            border-bottom: 1px solid scale-lightness($base-color, 55);
            &:last-child {
                border-bottom: 0;
            }
            &:before {
                width: 50%;
                font-weight: bold;
                background: rgba($base-color, 0.1);
            }
            &.product {
                &:before {
                    content:"Product: ";
                }
            }
            &.quantity {
                &:before {
                    content:"Quantity: ";
                }
            }
            &.price {
                &:before {
                    content:"Price: ";
                }
            }
            &.discount {
                &:before {
                    content:"Discount: ";
                }
            }
            &.total {
                &:before {
                    content:"Total: ";
                }
            }
        }
        @include bp(tablet) {
            text-align: left;
            border-left: 1px solid rgba(129, 129, 129, 0.25);
        }
        @include bp(desktop) {
        }
        @include bp(widescreen) {
        }
    }
}

//-Checkout cart review table hr adjustment-//
table.order-review-cart hr {
    margin: $base-gutter/2 0;
}

//-Checkout cart review table product name-//
table.order-review-cart .review-product-name {
    display: inline-block; // for margin support
    margin-bottom: $base-gutter/3;
}
