// .
// . Comparison table
// .   	

.comparison-table {

	@include container();
	
	@include bp(desktop) {
		@include container-padding($base-gutter);
	}

}

.comparison-table .comparison-table-column {

  @include span(12 of 12);
  margin-bottom: $base-gutter;

  @include bp(desktop) {

  	@include span(6 of 12);
  	@include span-padding($base-gutter);

  }

}

.comparison-table-column > .inner-wrapper {

	padding: $base-gutter;
	border: 1px solid #E4E4E4;
	
	& header {
		
		margin: -$base-gutter;
		margin-bottom: $base-gutter;
  		background-color: #E5E5E5;
  		padding: $base-gutter;

		& *:first-child {
			margin-top: 0;
		}

		& .image-container {

			max-width: 300px;
			margin: 0 auto;

		}

	}

	& h1 {
		
		text-align: center;
		font-weight: bold;
		margin-bottom: $base-gutter * 1/2;

	}

	& > h2 {

		text-align: center;

	}


	& .link {

		width: 100%;
		text-align: center;

	}


	& .link a {

		//...

	}

	& ul.features {

		@include container;
		@include container-padding($base-gutter);

	}

	& .features li.feature {
    
    @include span(12 of 12);

    @include bp(mobile-only) {
      margin-bottom: 1em;
      &:last-child {
        margin: 0;
      }
    }

    @include bp(tablet) {
      @include span(3 of 12);
      @include span-padding($base-gutter);
    }

	}

	& li.feature .image-container {

		margin-bottom: $base-gutter * 1/3;
		
		// optional class for border radius
		&.circle {

			border-radius: 50%;
			overflow: hidden;
			border: 1px solid #C2C2C2;
      background: white;
      max-width: 100px;
      height: auto;
      display: block;
      margin: 0 auto;

		}

	}

	& li.feature .title {

		text-align: center;
  		text-transform: uppercase;
  		font-size: 0.8em;
  		color: #808080;

	}

	& ul.details {

		//...

	}

	& .details li.detail {

		//...

	}


}

.comparison-table-column img {
	display: block; // fix image margin
  margin: 0 auto;
}