// .
// . Contact widget
// .   	

// Contact widget container for layout positioning purposes
#contact_widget {

	$this-max-width: 12em;

	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 2em;
	z-index: 999;

	display: none; // hide contact widget on really small screens
	
	// reveal contact widget for desktop sized displays or larger
	@include bp(desktop)     {
		display: block;
	}

	.inner-wrapper {

		.container {

			width: $this-max-width;
      transition: all 300ms linear;

      .tab-header {
        
        transition: all 300ms linear;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				display: inline-block;
				position: relative;
				z-index: 2;
				bottom: -3px;
				box-shadow: -1px -4px 7px rgba(0, 0, 0, 0.5);
				padding: $base-gutter * 3/5;

				border-top: 3px solid #FF7400;
				border-bottom: 1px solid #C5C5C5;

				& .title {
					color: #797979;
					text-transform: capitalize;
					font-weight: 700;
				}
				
				.tab-header-icon {

					color: #222;
					margin-left: 0.5em;
					cursor: pointer;

					&:hover {
						color: #3A3A3A;
					}
				}

			}

			.tab-content {

				display: none;
				border-top-right-radius: 8px;
				position: relative;
				z-index: 1;
				
				box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.5);
				border-top: 4px solid #C5C5C5;

				// contact method list container styles
				& ul.contact-methods {

					margin: 0;
					padding: $base-gutter * 3/5;
					
					// individual contact method styling
					& li {

						margin-bottom: 0.8em;

						&:last-child {
							margin-bottom: 0;
						}
						
						// heading
						& h1 {

							font-size: 1em;
							color: #4C4C4C;
							text-transform: capitalize;
							font-weight: 700;
							margin-top: 0;
							margin-bottom: 0.5em;
							padding-bottom: 0.5em;
							border-bottom: 1px dashed #C5C5C5;
							
						}
						
						// info
						& .details {

							font-size: 0.9em;
							color: black;

							& a {

							}

						}

					}

				}

			}
			
			.tab-header, .tab-content {

				background: white;

			}

		}
	}
}
	
