// .
// . Distributors by country
// .   	

.distributor-countries {

	background: transparent;

	& h2 {
		margin: 0;
	}

	& h3 {
		margin: 0;
	}

}

.distributor-countries .distributor-country {
	
	background: transparent;

	& > h2 {

		margin-bottom: $base-gutter * 2/3;
    padding-bottom: $base-gutter * 2/3;
    border-bottom: 1px solid #D8D8D8;

		& > * {
			vertical-align: middle;
		}

		& > img {
			max-height: 25px;
			height: auto;
			margin-right: 0.25em;
		}

	}

}

.distributor-country {
	background: transparent;
}

.dealers {
  width: 100%;
}

.dealers .dealer {
  $icon-gutter: $base-gutter * 1/3;
  $icon-color: #9E9E9E;

  @include container;
  width: 100%;
  margin-bottom: $base-gutter * 4/3;

  & > * {
    vertical-align: middle;
  }


	& .image-container {

    padding-right: 1.5em;
	  width: 180px;
	  float: left;
    margin-bottom: $base-gutter * 2/3;

    @include bp(tablet) {
      margin-bottom: 0;
    }

    & img {
		  border: 1px solid #DADADA;
		}

	} 

  & .about {

    float: left;
    clear: left;

    @include bp(tablet) {
      clear: none;
    }

    & > * {
      margin-bottom: 0.5em;
    }

    & [class*='icon-'] {
      padding-right: $icon-gutter;
      color: $icon-color;
    }

    & .company-name {
      background: transparent;
    }

  	& .contact-phone {

      display: table;

      & a {
        color: black;
      }

      & span {
        display: table-cell;
        vertical-align: middle;
      }

  	}

  	& .contact-address {

      display: table;

      & span {
        display: table-cell;
        vertical-align: middle;
      }

  	}

  }

}