// .
// . Footer
// .    

//----------//
// The code //
//----------//

//-footer wrap-//
#footer {
    position: relative;
    float: left;
    width: 100%;
    font-size: $footer-font-size;
    @include bg-light-toast;
    border-top: 1px solid rgba(87, 87, 87, 0.56);
    box-shadow: inset 1px 2px 12px -5px #111;
}

//------------//
// Footer top //
//------------//

//-Footer top wrap-//
#footer_top {
    @include container;
    padding: $base-gutter;
}

//-Footer top links-//
#footer_top a {
    @include link-color($color-dgr-3, $color-dgr-4, black);
}

//-footer top logo wrap-//
#footer_top .logo {
    display: none;
    @include bp(desktop) {
        display: block;
        @include span(3 of 12);
    }
}

//-footer top logo-//
#footer_top .logo img {
  max-width: 180px;
}

//-footer top nav wrap-//
#footer_top .nav {
    @include container;
    @include bp(desktop) {
        @include span(9 of 12);
    }
}

//-footer top nav groups-//
#footer_top .nav > div {
    vertical-align: top;
    width: 100%;
    font-size: 13px;
    margin-bottom: $base-gutter;
    padding-bottom: $base-gutter;
    border-bottom: 1px solid #CFCFCF;
    &:last-child {
      border-bottom: 0;
      padding: 0;
    }
    @include bp(tablet) {
        @include span(6 of 12);
        border-bottom: 0;
        padding-bottom: 0;
    }

    @include bp(desktop) {
        @include span(3 of 12);
        font-size: 14px;
        margin-bottom: 0;
    }
}

#footer_top .nav ul {
    margin: 0;
    line-height: 1.4;
}

#footer_top .nav ul li {
    margin-bottom: $base-gutter * 1/4;
    color: gray;
    & a {
      color: inherit;
      &:hover {
        color: #555;
      }
    }
}

//-footer nav group heading-//
#footer_top .nav > div h1 {
    margin: 0;
    margin-bottom: $base-gutter / 2;
    text-transform: uppercase;
    font-weight: 600;
    color: #747474;
    font-size: inherit;
    & a {
        @include link-color(inherit, inherit, inherit);
    }
}

//-contact icons-//
#footer_top [class*="icon-"] {
    color: $color-gr-7;
    text-shadow: -1px 1px #FFF;
}

//---------------//
// Footer bottom //
//---------------//

//-Footer bottom wrap-//
#footer_bottom {
    float: left;
    width: 100%;
    padding: 8px $base-gutter;
    background: rgba(black, 0.04);
    color: $color-dgr-3;
    box-shadow: inset 1px 2px 12px -5px #5E5E5E;
    padding: $base-gutter;
    text-align: center;
    @include bp(desktop) {
        padding: $base-gutter * 2/3;
    }
}

//-Footer bottom inline link list-//
#footer_bottom ul {
    display: inline-block;
    margin: 0;
}

//-Footer bottom inline link-//
#footer_bottom ul li {
    width: 100%;
    display: inline-block;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #C5C5C5;
    &:last-child {
        border-bottom: 0;
        margin: 0;
    }
    @include bp(tablet) {
        width: auto;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

//-Follow inline links with slash-//
#footer_bottom ul li:after {
    @include bp(tablet) {
        content: "/";
        color: #C7C7C7;
        margin: 0 0.5em;
    }
}

//-No slash on last inline link-//
#footer_bottom ul li:last-child:after {
    content: none;
}

//-Inline link color-//
#footer_bottom li a {
    @include link-color($color-dgr-3, $color-dgr-4, black);
}

// . Footer end (actual bottom)
// ------------------------------------------------------ x


#footer_end {
  padding: 0.5em;
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.04);
  color: #404040;
  box-shadow: inset 1px 2px 12px -5px #5E5E5E;
  font-size: 0.9em;
}

#footer_end .extra-links {
  display: inline-block;
}

#footer_end .extra-links ul {
  margin: 0;
  text-transform: uppercase;
}

#footer_end .extra-links li {
  display: inline-block;
  &:after {
    @include bp(tablet) {
      content: "\2022"; //content: "•";
      color: #424242;
      margin: 0 0.2em;
    }
  }
  &:last-child:after {
    @include bp(tablet) {
      content: "";
      margin: 0;
    }
  }
}

#footer_end a {
  color: gray;
}

#footer_end .about {
  @include bp(desktop) {
      float: right;
  }
}

#footer_end .copyright {
  display: block;
  margin-bottom: $base-gutter * 1/2;
  @include bp(tablet) {
    display: inline-block;
    margin-bottom: 0;
  }
}

#footer_end .payment-option-images {
    vertical-align: middle;
    @include bp(tablet) {
      display: inline-block;
    }
}

#footer_end .payment-option-images .payment-img {
    display: inline-block;
    width: $payment-img-w;
    vertical-align: middle;
}