// .
// . Header
// .       

//--------------//
// Theme mixins //
//--------------//

@mixin theme-header-top {
    border-bottom: 1px solid $color-gr-4;
    background: #1E1E1E;
    text-transform: uppercase;
    font-size: 1em;
    color: #B3B3B3;
    & a {@include link-color(inherit,white,white);}
}

@mixin theme-header-nav {}

@mixin theme-feedbar {
    position: relative;
    z-index: 2;
    @include bg-lit-7;
    background: rgba(0, 0, 0, 0.79);
}

//----------//
// The code //
//----------//

//-header wrap-//
#header {
    width: 100%;
    z-index: 2;
    // @include bg-subtle-grunge;
    @include bg-light-denim;
    // border-bottom: 2px solid #FF7A00;
}

//---------------//
// Top of header //
//---------------//

//-top header bar wrap-//
#header_top {
    width: 100%;
    padding: 1em;
    @include container;
    @include bp(tablet) {
        font-size: 0.7em;
    }
    @include bp(desktop) { padding: $base-gutter/2; }
    @include theme-header-top;
}

    //-header top inner wrappers-//
    #header_top .half {
        @include span(6 of 12);
    }

        //-header top left mobile wrap-//
        #header_top .mobile {
            @include bp(tablet) { display: none; }
        }

        //-header top left tablet upward wrap-//
        #header_top .non-mobile {
            display: none;
            @include bp(tablet) {
                display: inline-block;
                width: 100%;
            }   
        }

    //-header top right-//
    #header_top .right {
        @include span(6 of 12);
        text-align: right;
    }

        //-"items in cart" text wrapper-//
        #mini_cart_text {
            @include bp(mobile) {display: none;}
        }

//-inline slash used in top of header-//
#header_top .inline-break {
    color: #3F3F43;
}

//-facebook icon-//
#header_top a.facebook-ico:hover {
    color: $facebook-ico-color;
}

#header_top span, #header_top a {
  display: inline-block;
  vertical-align: middle;
}

//-------------------//
// Header navigation //
//-------------------//

//-header navigation wrap-//
#top_nav {
    @include container;
    width: 100%;
    @include theme-header-nav;
    @include bp(tablet) {
        height: auto;
    }
    @include bp(desktop) {
        height: $header-h;
    }
}

    //-mobile only logo-//
    #top_nav .mobile-logo {
        display: none;
        @include bp(mobile) {
            display: block;
            max-width: 280px;
            margin: 0 auto;
            padding: 1em;
        }
    }

    //-tablet upward logo wrap-//
    #top_nav .logo {
        @include bp(tablet) {
            width: 100%;
            height: 70px;
            padding: 1em;
        }
        @include bp(desktop) {
            @include span(3 of 12);
            height: 100%;
            padding: 0;
        }
    }

    //-tablet upward logo-//
    #top_nav .logo a {
        width: 100%;
        height: 100%;
        display: block;
        background-image: url($desktop-logo-src);
        background-size: contain;
        background-repeat: no-repeat;
        @include bp(tablet) {
            background-position: center;
        }
        @include bp(desktop) {
            background-size: 12em;
            background-position: center;
        }
        /* The url is relative to the document, not to the css file! */
        -ms-behavior: url(/resources/polyfills/backgroundsize.min.htc); // IE8 background image support
    }

    //-header nav link list-//
    #top_nav ul {
        width: 100%;
        color: $header-nav-text-c;
        background: #FFF;
        @include bg-light-denim;
        @include bp(mobile)     {
            display: none;
        }
        @include bp(tablet)  {
            height: 50px;
            border-top: 1px solid $color-gr-6;
        }
        @include bp(desktop) {
            @include span(9 of 12);
            height: 100%;
            border-top: 0;
        }
    }

        //-header nav item-//
        #top_nav ul li {
            transition: all 0.3s ease;
            vertical-align: middle;
            height: 50px;
            border: 0px solid transparent; //mouseover off 
            border-left: 1px solid $color-gr-4;
            line-height: 1;
            text-align: center;
            @include span(12 of 12);
            @include inner-align-parent();
            @include bp(mobile)     {
                display: table;
                width: 100%;
                border-top: 1px solid rgba(white, 0.9);
                border-bottom: 1px solid rgba(black, 0.11);
                //-remove border from first-//
                &:first-of-type { border-top: 0; }
                //-remove border from last-//
                // &:last-of-type { border-bottom: 0; }
            }
            @include bp(tablet) {
                @include span(1 of 7);
                height: 100%;
                font-size: 0.8em;
            }
            @include bp(desktop) {
                @include span(1 of 7);
                font-size: 1em;
            }
        }

        //-header nav item mouseover-//
        #top_nav ul li:hover, #top_nav ul li.current {
            //-border animation for tablet upwards-//
            @include bp(tablet) {
                transition: all 0.2s ease;
                border-bottom: 4px solid #FF7A00;
                // opt. shadow
                // box-shadow: -6px 3px 18px rgba(0, 0, 0, 0.17);
            }
        }

        //-header nav item active-//
        #top_nav ul li:active {
            //-border animation for tablet upwards-//
            @include bp(tablet) {
                transition: all 0.1s ease;
                border-top: 4px solid transparent;
                border-bottom: 3px solid #FF7A00;
                // opt. shadow
                // box-shadow: -4px 6px 12px rgba(0, 0, 0, 0.22);
            }
        }

            //-header nav item link-//
            #header nav ul li a {
                vertical-align: middle;
                text-align: center;
                @include link-color(inherit,inherit,inherit);
                @include inner-align-child('center', 'middle');

                @include bp(tablet)     {
                }

                @include bp(desktop)    {
                    font-size: 0.9em;
                }

            }

            // header nav item span
            // (icon + title)
            #header nav ul li span {

                @include bp(tablet)     {
                    display: block;
                }
                @include bp(desktop)    { }
                @include bp(widescreen) {
                    display: inline-block;
                }

                @media (min-width: 1080px) {
                    display: block;
                }
            }

        //-header nav icon-//
        #top_nav ul [class*="icon-"] {
            color: #A0A0A0;
            text-shadow: -1px 1px #FFF;
            @include bp(tablet)     {
                margin-bottom: 0.25em;
            }
        }

//------------------//
// Announcement bar //
//------------------//

//-announcement feed wrap-//
#feedbar {
    width: 100%;
      padding: 0.6em;
    @include theme-feedbar {}
}

//-toggle visibility-//
#feedbar.disabled {display: none;}

//-inner feedbar text heading-//
#feedbar h1 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.54);
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    margin: 0;
}

// inline TekVest logo img
#feedbar .tekvest-logo-inline {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}


// Country flags

.header-flag {
  height: 10px;
  width: auto;
  &:hover {
    cursor: pointer;
  }
}