// .
// . New slider
// .   	

/**
*
* Homepage slider re-factor SASS
*
**/

/*==========  Royal slider customization  ==========*/

.royalSlider {

  & img {
    max-width: 100%;
    width: 100%;
  }

}

/*==========  Slider navigation controls  ==========*/


/*==========  Product slide  ==========*/

.slideshow-container {

  background: #222;

  & .inner-wrapper {

    & > .row {

      @include container; //@SUSY
      max-width: none; // over-ride susyone
      padding: 0; // over-ride susyone
      margin: 0; // over-ride susyone

      & #slideshow {

        width: 100%;
        height: 600px;
        overflow: hidden;

        @include bp(desktop)     {
          height: 375px;
          @include span(9 of 12); //@SUSY
        }

        & .slide {
          
          width: 100%;
          height: 100%;
          position: relative;

        }

        & .slide.product {

          & > .inner-wrapper {

            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;

            &.super-sport-bg {
              background-image: url('../images/slider/mobile/super-sport-bg.jpg');
            }

            &.rally-sport-bg {
              background-image: url('../images/slider/mobile/rally-sport-bg.jpg');
              @include bp(desktop) {background-position: right;}

              & div.image img {

                @include bp(desktop) {
                    max-width: 330px;
                    margin-top: 19px;
                    margin-right: -10px;
                }
              }
            }

            &.outback-bg {
              background-image: url('../images/slider/mobile/outback-bg.jpg');
            }

            &.freestyle-bg {
              background-image: url('../images/slider/mobile/freestyle-bg.jpg');
              background-position: bottom;
            }

            & .bg {

              &.white {
                background: rgba(255, 255, 255, 0.65);
              }

              &.black {
                background: rgba(0, 0, 0, 0.65);
              }

              &.red {
                background: rgba(255, 0, 0, 0.65);
              }

              &.orange {
                background: rgba(255, 97, 0, 0.65);
              }

              &.yellow {
                background: rgba(255, 206, 81, 0.2);
              }

              &.green {
                background: rgba(74, 255, 0, 0.65);
              }

              &.aqua {
                background: rgba(0, 226, 255, 0.65);
              }

              &.blue {
                background: rgba(0, 129, 255, 0.65);
              }

              &.purple {
                background: rgba(55, 0, 255, 0.65);
              }

            }

            & .content {
              
              position: absolute;
              width: 100%;
              top: 50%;
              transform: translateY(-50%);
              padding: 2em;

              & .inner-wrapper > div {

                margin-bottom: 2em;
                @include bp(desktop) {
                  margin-bottom: 1em;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }

              & .name , & .info , & .image, & .link {

                text-align: center;
                width: 100%;

              }

              & .name {
              
                top: 0;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $strong-font-stack;
                z-index: 2;

                @include bp(desktop) {
                  text-align: left;
                }

                & h1 {
                  margin: 0;
                  background: rgba(0, 0, 0, 0.81);
                  font-size: 2.5em;
                  color: #FFF;
                  display: inline-block;
                  padding: 0.5em;
                }

              }

              & .info {
                
                display: none;
                z-index: 2;

                @include bp(desktop) {
                  display: block;
                  text-align: left;
                }

                & .inner-wrapper {

                  display: inline-block;
                  width: auto;

                  font-size: 1.4em;
                  line-height: 1.2;
                  text-transform: uppercase;
                  padding: 1em;
                  background: rgba(255, 255, 255, 0.90);

                  &.gray {
                    background: #6E6E6E;
                    & p { color: white; }
                  }

                  &.gray-brown {
                    background: #3A3530;
                    & p { color: white; }
                  }

                  &.crimson {
                      background: rgba(202, 14, 14, 0.91);
                      & p { color: white; }
                  }

                  &.orange {
                      background: rgba(255, 69, 0, 0.88);
                      & p { color: white; }
                  }

                  &.black {
                    background: rgba(0, 0, 0, 0.33);
                    & p { color: white; }
                  }
                  
                  & p {
                    margin: 0;
                    color: #414141;
                    line-height: 1.2;
                    font-weight: 700;
                  }

                }

              }

              & .image {
                
                z-index: -1;

                @include bp(desktop) {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  text-align: right;
                  right: 2em;
                }

                & img {

                  max-height: 19em;
                  height: auto;
                  width: auto;
                  max-width: 100%;

                  @include bp(desktop) {
                      max-width: 281px;
                  }

                }

              }

              & .link {
                
                margin-bottom: 1em;
                z-index: 2;
                font-weight: 700;

                & ._btn-arrow {
                  
                  margin-left: -4px;
                  
                  &.white {
                    background: #D7D7D7;
                    color: #848484;
                    &.outline {
                      background: none;
                      box-shadow: inset 0px 0px 0px 2px #FFF;
                      color: #FFF;
                      margin-left: -6px;
                      border: 0; // prevent conflict
                    }
                  }

                  &.orange {
                    color: white;
                    background: #DB3B00;
                  }

                }

                @include bp(desktop) {
                  text-align: left;
                }

              }

            }


          }

        }

      }

      & #slideshow_nav {

        width: 100%;
        position: relative;
        overflow: hidden;

        @include bp(desktop) {
          @include span(3 of 12); //@SUSY
          height: 375px; // same as slide container
        }
        
        & .inner-wrapper {

          width: 100%;

          @include bp(tablet-only) {
            max-width: 100%;
            padding: 0;
          }
          
          & .nav-control {
            
            padding: 1em;
            color: white;
            border-bottom: 1px solid rgba(255, 255, 255, 0.09);
            cursor: pointer;
            width: 100%;

            @include bp(tablet-only) {

              display: table-cell;
              border-bottom: 0;
              border-right: 1px solid #424242;
              white-space: nowrap; // prevents word wrapping headings

              &.active {
                border-right: 1px solid rgba(#424242,0);
              }

            }

            &:hover {
              background: black;
            }

            &.active {

              $active-bg-color: orangered;

              background: $active-bg-color;
              border-bottom: rgba(white,0);

              & h1 {
                    color: white;
                }

                & h2 {
                    color: rgba( white , 0.5 );
                }

              &:hover {
                
                background: $active-bg-color;

              }

            }

            & h1 {
              margin: 0;
              padding: 0;
              font-size: 1em;
              font-weight: normal;
              color: $flat-gray-1;
            }

            & h2 {
              margin: 0;
              padding: 0;
              font-size: 1em;
              font-weight: normal;
              color: #909090;
            }

          }

        }
      }


    }

	}
}

/*==========  Video slide  ==========*/

.royalSlider .slide .vjs-control-bar {
  bottom: 0.5em; // fix royal slider padding offset - magic #
}

.royalSlider .slide.video {

  & .inner-wrapper {

    width: 100%;
    height: 100%;
    background: #000;
    
    & .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); 
      width: 100%;
    }

    & .video-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
    

  }
}

/*==========  Announcement slide  ==========*/

.royalSlider .slide.announcement {

  & .inner-wrapper {
  
    height: 100%;
    width: 100%;

    &.tekvest3d4d-bg {
      background-image: url('../images/slider/mobile/3d4d-bg.jpg');
      background-position: center;
      background-size: cover;
    }

    & .content {

        &.center {
          text-align: center;
        }
      
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 2em;

        & .announcement-title {

          & h1 {

            margin: 0;
            background: rgba(0, 0, 0, 0.81);
            font-size: 2.5em;
            color: #FFF;
            display: inline-block;
            padding: 0.5em;
            
          }
        }

        & .announcement-info {

          background: white;
          display: inline-block;
          padding: $base-gutter;
          max-width: 90%;
          margin-top: 1.5em;

          & p {
            margin: 0;
          }

        }

        & .announcement-link {
            margin-top: 1em;
        }

    }

  }

}

// . Prevent FOUC
// ------------------------------------------------------ x

.js .royalSlider {

  & .slide .bg {

    z-index: 0;
    background: none;

  }

}

.royalSlider {

  & .slide .bg {

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: none;

  }

}