// .
// . Image rows
// .   	

.image-row {
	//@include container;
	letter-spacing: -0.31em;
}

.image-row img {
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
}

.image-row {

	&.two img {
		width: 100% * 1/2;
	}

	&.three img {
		width: 100% * 1/3;
	}

}