// .
// . Image floating classes
// .   	

img.float-left {
	margin: $base-gutter;
	float: left;
	margin-top: 0;
	margin-left: 0;
}

img.float-right {
	margin: $base-gutter;
	float: right;
	margin-top: 0;
	margin-right: 0;
}