// .
// . Landing page layout and styles
// .   	

// inner page wrapper inside body
#landing_page .inner-wrapper {
   padding-top: 6em;
}

// container element that fills the entire viewport (absolute)
#landing_page .center-full {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

// floating container element for centering inside center-full
#landing_page div.inner-container {
   display: table;
   margin: 0 auto;
   border-radius: 6px;
   overflow: hidden;
   background: white;
   & > * {
      display: table-cell;
      vertical-align: top;
      padding: 1.8em;
   }
}

// logo container
#landing_page div.logo {
   background: #DEDEDE;
}

// logo image
#landing_page img.logo {
   display: block;
   max-width: 12em;
   margin: 0 auto;
   margin-bottom: 1em;
}

// country flag image
#landing_page img.country-flag {
   max-width: 100px;
}

// unused wrapper
#landing_page div.region-list {}

// title
#landing_page div.region-list h1 {
   font-size: 1.4em;
}

// country flag list
#landing_page ul.country-options {
   padding: 0;
   text-align: center;
   margin: 0;
   margin-top: 1.6em;
}

// country flag list item
#landing_page ul.country-options li {
   list-style-type: none;
   display: inline-block;
   vertical-align: top;
   cursor: pointer;
   margin-right: 0.5em;
}

#landing_page ul.country-options li:last-child {
   margin-right: 0;
}

#landing_page ul.country-options li .label {
   margin-top: 1em;
}


#landing_page div.distributors {
   // hidden until approved
	display: none;
}