// .
// . Notification bar
// .

$nbar-bg: shade($color-dgr-2,25);
$nbar-color: $color-a-bl;

.notification-bar {
	float: left;
	width: 100%;
	padding: 1/3 * $base-gutter;
	background: $nbar-bg;
	@include bg-dark-denim;
	box-shadow: 0px 0px 24px 0px #686868 inset;
	color: $nbar-color;
	position: relative;
    z-index: 2;

  & span {
    vertical-align: middle;
  }

  & .icon-checkmark-2-2 {
  	color: white;
  }

	& .content {
		float: left;

		& .short {
			display: none;
			@include bp(mobile-only) { display: block; }
			@include bp(tablet-only) { display: block; } }

		& .long {
			position: absolute;
  			top: 50%;
  			transform: translateY(-50%);
			@include bp(mobile-only) { display: none; }
			@include bp(tablet-only) { display: none; }
		}

		& a {
			background: #FF7A00;
			padding: $base-gutter/4;
			font-size: 0.7em;
			letter-spacing: 1px;
			line-height: 24px;
			text-transform: uppercase;
			text-decoration: none;
			border-radius: 3px;
			text-shadow: none;
			color: white;
			vertical-align: middle;
		}
	}
	& .nav {
		float: right;
		display: none;
		@include bp(desktop)    { display: block; }

		& .dismiss {
			cursor: pointer;
  			font-size: 1em;
  			text-shadow: none;
			&:hover { color: rgba(white,0.6); }
		}

	}
}