// .
// . Page title bar
// .     

.content-header {
    position: relative;
    z-index: 2;
    width: 100%;
    color: white;
    padding: $base-gutter/2;
    @include bg-lit-7;
    box-shadow: 0px -5px 18px -8px black inset;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.4em;
}

.content-header h1 {
    margin: 0;
    text-shadow: 0px 2px black;
    font-weight: 700;
    color: white;
    & a { @include link-color(inherit,inherit,inherit); }
}
