// .
// . Product page: custom measurement input area
// .   	

#product_custom_dimensions {

    @include container; // @SUSY
    @include container-padding($base-gutter);

    & .product-option {

      @include span(6 of 12); // @SUSY
      @include span-padding($base-gutter);

      & input, & select {

      	@include span(6 of 12); // @SUSY
      	@include span-padding($base-gutter);
        margin-bottom: 0;

      }

    }

}