// .
// . Product page: custom dimension inputs
// .    

#product_custom_dimensions {

    @include bp(desktop) {
        @include container; // @SUSY
        @include container-padding($base-gutter);
    }

    & .product-option.custom-measurement {

      @include bp(desktop) {
          @include span(6 of 12); // @SUSY
          @include span-padding($base-gutter);
      }

      & .row {

        @include container; // @SUSY
        @include container-padding($base-gutter);

        & span {

          @include span(6 of 12); // @SUSY
          @include span-padding($base-gutter);
          
          & input, & select {
            margin-bottom: 0;
            font-size: 0.8em;
          }

          & input {
              padding: 10px;
          }

          & select {
              padding: 9px;
          }

        }

      }

    }

}