// .
// . Product extra options
// .

.product-options.extra {}

.product-options.extra .extra-options {
  @include container;
}

.extra-options .extra-option {

  @include span(12 of 12);
  margin-bottom: $base-gutter;

}

.extra-option label {

  width: 100%;

  & input {
    display: inline;
    width: auto;
    margin: 0;
    margin-right: $base-gutter * 1/3;
    vertical-align: middle;
    zoom: 1.3;
  }

  & .title {

    margin-right: $base-gutter * 1/3;
  
  }

  & .cost {

    color: $flat-gray-3;
    font-size: 0.8em;
    padding: 0.4em;
    border-radius: 3.9px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(86, 86, 86, 0.19);

  }

}