// .
// . Product page: quantity and total price
// .   	

#product_quantity_total {

    @include bp(desktop) {
        @include container; // @SUSY
        @include container-padding($base-gutter);
    }

    & .product-option {

      @include bp(desktop) {
        @include span(6 of 12); // @SUSY
        @include span-padding($base-gutter);
      }

    }

}