// .
// . Product page radio options
// .

.product-options.radio {}

.product-options.radio input, .product-options.radio input + label {
  display: inline;
  vertical-align: middle;

}

.product-options.radio input {
  width: auto;
  margin: 0;
  margin-right: $base-gutter * 1/3;
  zoom: 1.3;
  
}

.product-options.radio input + label {
  background: transparent;
}

// image preview button
.product-options.radio label + span {

	float: right;
	border: 1px solid rgb(166, 166, 166);
	padding: 4px;
	text-transform: uppercase;
	font-size: 0.8em;
	color: rgb(166, 166, 166);
	cursor: pointer;

	&:hover {
		color: grey;
		border: 1px solid gray;
	}

}

.product-options.radio .flashsx-font-images {

	display: none;
	float: left;
	margin: $base-gutter 0;

	& .flashsx-font-img {

		float: left;
		width: 50%;

	}

}

// . OutBack product
// ------------------------------------------------------ x


.product-options.radio .radio-options {
  @include container;
}

.radio-options .radio-option {
  @include span(12 of 12);
  margin-bottom: $base-gutter;
}