// .
// . Region selector
// .      

$color: #616161;
$icon-color: #909090;
$padding: 2px;

.region-selector {
   background: #FFFFFF;
   font-family: arial;
   font-size: 12px;
   display: inline-block;
   position: relative;
   cursor: pointer;
   font-size: 0.8em;
   vertical-align: middle;
   display: inline-block;
   color: #828282;
}

.active-option {
   position: relative;
   padding: $padding;
}

.active-option, .region-options li {
   padding: $padding;
   border-top: 1px solid #D0D0D0;
}

.dropdown-icon {
    color: $icon-color;
    display: inline-block;
    vertical-align: bottom;
    margin: 0px 2px;
    font-size: 0.9em;
}

ul.region-options {
   background: white;
   display: none;
   width: 100%;
   margin: 0;
   position: absolute;
   z-index: 5;
   border-bottom: 1px solid #D0D0D0;
}

ul.region-options li {}

ul.region-options li.active {
  display: none;
}

ul.region-options li:hover {
   background: #F3F3F3;
}

.region-selector span.text {
   vertical-align: middle;
}