// .
// . Sidebar
// .   	

aside.sidebar {

  // sidebar section heading
  & h1 {
    text-transform: uppercase;
    font-size:      1.2em;
    margin-top: 0em;
    margin-bottom:  1em;
    padding-bottom: 0.75em;
    line-height:    1;
    border-bottom:  1px solid #BEBEBE;
  }

}