// .
// . Social panel widget
// .   	

.social-sidebar {

    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99; // above page content

    display: none; // hide by default for mobile

    // show social sidebar when screen
    // is wide enough to contain it within page gutter
    @media (min-width: 1080px) {
        display: block;
    }

    & > .inner-wrapper {

        cursor: pointer;

        & ul.social-media-links{
            
            margin: 0;

            & li {
    
                /* Social Media Brand Colors */
                 
                $twitter-color: #00aced;
                $facebook-color: #3b5998;
                $youtube-color: #bb0000;
                $instagram-color: #C49A6C;  // brown
                $instagram-color: #3D6D95; // blue

                &.facebook {
                    & div.icon, & div.title {
                        background: $facebook-color;
                    }
                }
                &.twitter {
                    & div.icon, & div.title {
                        background: $twitter-color;
                    }
                }
                &.youtube {
                    & div.icon, & div.title {
                        background: $youtube-color;
                    }
                }

                &.instagram {
                    & div.icon, & div.title {
                        background: $instagram-color;
                    }
                }

                &.disabled {
                    display: none !important;
                }

                & > .inner-wrapper{

                    display: table;

                    & div.title {

                        transition: translateX(0%);

                    }
                    
                    & div {
                        padding: 0.5em;
                        display: table-cell;
                        color: white;
                    }

                    & div.icon {

                        position: relative;
                        z-index: 2;

                        & img {
                            max-width: 1em;
                            color: white;
                            fill: red;
                        }


                    }

                    & div.title {
                        
                        transform: translateX(-100%); // req. by slide-out animation
                        transition: all 200ms ease-in; // req. by slide-out animation
                        position: relative;
                        z-index: 1;
                    }

                    &:hover {

                        & div.title {
                        
                            transform: translateX(0%); // req. by slide-out animation
                            transition: all 200ms ease-in; // req. by slide-out animation
                            position: relative;
                            z-index: 1;

                        }

                    }
                    
                }
            }
        }
    }

}
