// .
// . Store sidebar filters
// .   	

$store-sidebar-filters: (
  padding: 0.25em,
  color-hover-1: #808080,
  color-hover-2: #ddd,
  color-active-1: #474747,
  color-active-2: #808080,
);

// . Mobile store filters
// ------------------------------------------------------ x

.store-page .sidebar .product-options-mobile {
          
  display: none; // hide by default (only show when toggled)

  @include bp(desktop) {
    display: none !important; // hide mobile options on desktop screens and larger
  }

  & h2 {
      font-size: 1em;
  }

}

// mobile product option toggle
.store-page .sidebar .toggle-control {

  zoom: 0.6;
  
  @include bp(desktop) {
    display: none;
  }

}

// option toggle and label
.store-page .sidebar #product_options_toggle, .store-page .sidebar #product_options_toggle + label {

  @include bp(desktop) {
    display: none !important; // hide mobile options on desktop screens and larger
  }

}

// . Desktop store filters
// ------------------------------------------------------ x
        
// Product options container
.store-page .sidebar .product-options {

  display: none; // hide on mobile

  @include bp(desktop) {
    display: block;
  }
  
  // Filter heading
  & h2 {

    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    
    // ?
    & a {
      color: gray;
      &:hover {}
      &:active, &:focus {}
    }

    & .filter-title-icon {
      padding-left: 0;
    }

  }
  
  // Filter option set
  & ul.option-set {

    margin: 0;
    padding-left: map-get($store-sidebar-filters, padding) * 4;
    margin: map-get($store-sidebar-filters, padding) * 4;
    border-left-width: 1px;
    border-left-color: rgba(black,0.16);
    border-left-style: solid;
    
    // Filter option
    & li.option {

      font-size: 12px;
      color: #595959;
      display: table; // to avoid block 100% auto width
      font-family: $strong-font-stack;
      
      transition: all 200ms;
      
      & *, & * *, {
        transition: all 200ms;
      }

      &:hover {
        
        & > span {

          // same as department h3 heading hover
          background: map-get($store-sidebar-filters, color-hover-2);
          padding-left: map-get($store-sidebar-filters, padding) * 2;
          padding-right: map-get($store-sidebar-filters, padding) * 2;
          border-radius: 2px;
          color: black;

        }

      }

      &.active {

        & > span {
          background: map-get($store-sidebar-filters, color-active-2) !important; //overide hover
          color: #FFF;
          padding-left: map-get($store-sidebar-filters, padding) * 2;
          padding-right: map-get($store-sidebar-filters, padding) * 2;
          border-radius: 2px;
        }

      }

      &:last-child {
        margin-bottom: 0;
      }

      & > span {
        padding: 3px;
        cursor: pointer;
      }

    }

  }

}//.product-options