// .
// . Store product list
// .

$store-dd-hover-bg: $color-a-3;
$store-side-brd-c: $color-dgr-1;
$store-side-c-brd-c: $color-a-4;

ul.product-list {
    @include grid-parent(24px);
    // 1.5em
    width: auto;
    margin-bottom: 0;
    li.product {
        @include grid-item(2);
        padding-right: $base-gutter;
        margin-bottom: $base-gutter;
        text-align: left;
        font-size: 12px;
        @include bp(tablet) {
            @include grid-item(3);
        }

        @include bp(desktop) {
            @include grid-item(3);
        }

        // required by mixitup
        &.mix {
            display: none;
        }
        & > .inner-wrapper {
            position: relative;
            display: inline-block;
            border: 1px solid #C4C4C4;
            @include bg-medium-denim;
            @include link-color(black, black, black);
            transition: all 0.3s ease;
            width: 100%;
        }
    }
}

//-product image and hover element wrapper-//
li.product .top {
    position: relative;
    overflow: hidden;
    & h2 {
        margin-top: 0;
        margin-bottom: $base-gutter;
        border-bottom: 1px solid rgba(white, 0.5);
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
    }
    & p {
        margin: 0;
        font-size: 0.8em;
    }
    & > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// product bottom section wrapper
li.product .bottom {
    position: relative;
    display: table;
    border-top: 1px solid #C4C4C4;
    width: 100%;
    // selects first level children inside of product bottom wrapper
    & > * {
        display: table-cell;
    }
    // product title
    & h3 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 6px;
        font-size: 14px;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
        width: 100%;
    }
    & a {
      color: inherit;
    }
}

li.product .bottom .product-type {
    padding: 5px;
    width: 20%;
    color: #A3A3A3;
    font-size: 0.88em;
    letter-spacing: 0.1em;
    cursor: pointer;
    // product type (inline with title)
    & span {
        @include group-button-link;
        background-color: #FCFCFC;
        border: 1px solid #CDCDCD;
        color: #808080;
        border-radius: 2px;
        padding: 0.3em;
        transition: border 0.3s ease-out;
        &:hover {
            border-color: #9E9E9E;
            background-color: #FCFCFC;
        }
    }
}

//--product mouseover wrapper--//
li.product .mouseover {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $base-gutter;
    background: rgba(24, 24, 24, 0.95);
    padding: $base-gutter;
    color: #ECECEC;
    // Store product mouseover title
    & h2 {
        color: #7C7C7C;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    // Store product mouseover text
    & p {
        color: #DADADA;
    }
    // product mouseover properties
    & .properties {
        background: none;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 12px;
    }
}

//-- #IE: product mouseover wrapper--//
.lt-ie9 li.product .mouseover {
    opacity: 1;
    display: none;
    // hide product mouseover by default
}

//-OEM page mouseover-//
li.product .mouseover.oem {
    background: rgba($color-dgr-3, 0);
}

// Product mouseover
li.product:hover, li.product:focus {
    & .mouseover {
        opacity: 1;
    }
}

//-- #IE: product mouseover when active--//
.lt-ie9 li.product:hover .mouseover {
    opacity: 1;
    display: block;
}

//---------------------//
// Reduce font size .. //
//---------------------//

.sidebar.store {
    @include bp(desktop) {
        font-size: 0.8em;
    }
}