// .
// . Store sidebar departments
// .   	

$store-sidebar-departments: (
  padding: 0.25em,
  color-hover-1: #808080,
  color-hover-2: #ddd,
  color-active-1: #474747,
  color-active-2: #808080,
);

.store-page .sidebar {}

// . Desktop departments
// ------------------------------------------------------ x

.store-page .sidebar .product-departments {
	
	display: none;
	margin-bottom: 1.5em;

	@include bp(desktop) {
		display: block;
	}

}

// product department list
.product-departments ul.departments {}

// product sub departments list
.product-departments li ul {
  padding-left: map-get($store-sidebar-departments, padding) * 4;
  margin: map-get($store-sidebar-departments, padding) * 4;

  border-left-width: 1px;
  border-left-color: rgba(black,0.16);
  border-left-style: solid;
}

// product department
.product-departments .departments li {

	font-size: 0.9em;
	margin-bottom: map-get($store-sidebar-departments, padding);
  margin-left: map-get($store-sidebar-departments, padding);
  display: table; // to avoid block 100% auto width
  transition: all 200ms;

  // animate children
  & *, & * *, {
    transition: all 200ms;
  }

  // department containing another department
  &.has-children {
    margin-bottom: map-get($store-sidebar-departments, padding) / 2; // offset parent padding
  }

  // department link
  & a {
    color: gray;
    &:hover {}
    &:active, &:focus {}
  }

}

// all product department headings
.product-departments li.department .department-title {

  display: inline-block;
  margin: 0;
  padding: map-get($store-sidebar-departments, padding);
  padding-left: 0;
  border-radius: 2px;
  font-size: 12px;

}

// level 1 product department heading
.product-departments li.department h2 {
	text-transform: uppercase;
	// product department link
	& a {
		color: gray;
	}
}

// level 2 product department
.product-departments li.department h3 {
	font-size: 12px;
  line-height: 1;
	& a {
		color: #595959;
	}
}

// . Active department
// ------------------------------------------------------ x

// department containing an active sub-department
.product-departments li.department.active-children {
  
  // highlight department title
  & > h2 {

    padding-left: map-get($store-sidebar-departments, padding) * 2;
    padding-right: map-get($store-sidebar-departments, padding) * 2;
    background: map-get($store-sidebar-departments, color-active-2);
    color: white;

    & > a {
      color: inherit;
    }
    
  }

}

// . Mouseover styles
// ------------------------------------------------------ x

// department mouseover
.product-departments li.department {
	&:hover, &:focus {
		
		// level 1 heading mouseover
		& > h2 {

			background: map-get($store-sidebar-departments, color-hover-1);
			padding-left: map-get($store-sidebar-departments, padding) * 2;
			padding-right: map-get($store-sidebar-departments, padding) * 2;

			& a {
        color: white;
      }

		}
    
    // level 2 heading mouseover
    & > h3 {

      background: map-get($store-sidebar-departments, color-hover-2);
      padding-left: map-get($store-sidebar-departments, padding) * 2;
      padding-right: map-get($store-sidebar-departments, padding) * 2;

      & a {
        color: black;
      }

    }

	}
}

// active department mouseover
.product-departments li.department.active {

  // active level 1 department on mouseover
  & > h2 {

    padding-left: map-get($store-sidebar-departments, padding) * 2;
    padding-right: map-get($store-sidebar-departments, padding) * 2;
    background: map-get($store-sidebar-departments, color-active-1);
    color: white;

    & > a {
      color: inherit;
    }

  }
  
  // active level 2 department on mouseover
	& > h3 {

	    background: map-get($store-sidebar-departments, color-active-1) !important; // overide hover style bg

	    & > a {
	    	color: white !important;
    	}

	}


  & > .department-title {

    color: white;
    padding-left: map-get($store-sidebar-departments, padding) * 2;
    padding-right: map-get($store-sidebar-departments, padding) * 2;

    & a {
      color: inherit;
    }

  }
	
}


// . Mobile departments
// ------------------------------------------------------ x

.product-departments-mobile {

	margin-bottom: 1em;

	@include bp(desktop) {
    display: none !important; // hide mobile options on desktop screens and larger
  }

}