// .
// . Store product sorting controls
// .     

// sort control wrap
.store-sort-controls {
    @extend .row;
    padding: $base-gutter;
    padding-top: 0; // element above has bottom padding
}

// sort control button
.store-sort-controls li {
    @extend .btn;
    display: inline;
    margin-right: $base-gutter;
    text-align: center;
    color: $color-dgr-1;
}