// .
// . Store page navigation breadcrumbs
// .       

.store-breadcrumbs {
    width: 100%;
    margin-bottom: $base-gutter;
}

// breadcrumb link
.store-breadcrumbs a {
    text-transform: uppercase;
    color: $color-dgr-2;
    text-decoration: none;
}

// color last breadcrumb link
.store-breadcrumbs a:last-of-type {
    color: $color-a-5;
}

// breadcrumb divider
.store-breadcrumbs span {
    padding-left: 6px;
    padding-right: 6px;
    color: $color-dgr-1;
    font-family: 'Cooper Black', 'Chaparral Pro', 'Chaparral Pro Light', 'Chartwell-Bars';
}

// last breadcrumb divider
.store-breadcrumbs span:last-of-type {
    // color: $color-a-5;
}

// breadcrumb hr
.breadcrumb-hr {
    padding-left: 12px;
    padding-right: 12px;
    & hr { margin-bottom: 4px !important; }
}
