// .
// . Media article 'tagged in' links
// .   	

.tag-links {

  font-size: 0.9em;

}

.tag-links .title {

  color: gray;
  text-transform: uppercase;

}

.tag-links ul.post-tags {

  width: 100%;

}

.post-tags li.post-tag {

  $color: #808080;

  display: inline-block;
  background: #DDD;
  padding: $base-gutter * 2/5;
  color: $color;
  cursor: pointer;
  transition: background 0.2s ease-out;

  &:hover {
    background: #C8C8C8;
  }

  & a {
    color: inherit;
  }

}

li.post-tag + li.post-tag {
  margin-left: $base-gutter * 1/2;
}