// .
// . Team member cards
// .   	

ul.team-member-cards {
	@include container;
}

.team-member-cards li.team-member-card {

	width: 100%;
	margin-bottom: $base-gutter;

	@include bp(tablet) {
		@include span(6 of 12);
	}

	@include bp(desktop) {
		@include span(3 of 12);
	}

}

.team-member-card > .inner-container {
	display: table;

	@include bp(tablet) {
		display: inline-block;
    padding-right: $base-gutter;
	}

}

.team-member-card > .inner-container > * {
	display: table-cell;
	vertical-align: middle;

	@include bp(tablet) {
		display: block;
	}
}

.team-member-card .image-container {
	min-width: 150px;
	@include bp(tablet) {
		min-width: none;
	}
	margin-bottom: $base-gutter;

}

.team-member-card .avatar-image {
	$avatar-size-desktop: 150px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: $avatar-size-desktop;
	height: $avatar-size-desktop;
}

.team-member-card .about {
	padding-left: $base-gutter;
	@include bp(tablet) {
		padding-left: 0;
	}
	font-size: 0.6em;
	width: 100%;
}

.team-member-card h1 {
	margin: 0;
}

.team-member-card h2 {
	margin: 0;
}

