// .
// . Testimonials
// .     

$review-border-color: #424242;
$review-border-color: $flat-gray-2;
$review-border-color-mousover: $color-a-2;

$testimonial-box-background: #d7d7d7;
$testimonial-circle-background: #595959;
$testimonial-quote-color: #616161;
$testimonial-name-color: $testimonial-circle-background;
$testimonial-tagline-color: #909090;
$testimonial-hover-color: #323232;
$testimonial-transition: all 0.2s ease-in;

// Review grid wrapper
.review-container
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;

  & ul li {
    margin-bottom: $base-gutter;
  }

}

// Grid wrapper
.grid-testimonials
{
  margin: 0;
  @include container;
  @include bp(tablet) {
    @include container-padding($base-gutter);
  }
}

// Grid item (review quote)
.grid-testimonials li
{
  
  display: inline-block !important;
  opacity: 0; // velocity jquery plugin
  list-style-type: none;
  margin-bottom: 32px;
  text-align: center;

  @include bp(tablet) {
    @include span(6 of 12);
    @include span-padding($base-gutter);
  }

  @include bp(desktop) {
    @include span(4 of 12);
  }

}

// Mouseover: Inner testimonial link element
.grid-testimonials li a:hover {

    cursor: pointer;

    & .quote-wrapper {
      // box-shadow: 0px 0px 0px 1px lighten($testimonial-hover-color, 50%);
    }

    & .avatar-circle {
      background: $testimonial-hover-color;
    }

    & .grid-testimonials-citation {
      color: $testimonial-hover-color;
    }

}


// Inner review quote wrapper
.grid-testimonials li .quote-wrapper
{
  transition: $testimonial-transition;
  padding: $base-gutter;
  padding-bottom: 17%;
  position: relative;
  background: $testimonial-box-background;
}

// Avatar circle
.grid-testimonials .avatar-circle
{
  transition: $testimonial-transition;
  $size: 60px;
  background: $testimonial-circle-background;
  content: '';
  display: block;
  position: absolute;
  bottom: -($size / 2);
  left: 50%;
  margin-left: -($size / 2);
  width: $size;
  height: $size;
  border-radius: 50%;
}

// Icon inside avatar circle
.grid-testimonials .avatar-circle
{
  & [class*="icon-"] {

    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

  }
}

// Review quote text
.grid-testimonials .quote-wrapper p
{
  line-height: 1.5em;
  margin: 0;
  transition: min-height 0.3s ease-out;
  color: $testimonial-quote-color;
}

// Inner review author text wrapper
.grid-testimonials .quote-meta {
  margin-top: 3em; // prevents section from overlapping quote (since arrow is positioned with negative margins)
  text-justify: auto; // prevents JUSTIFY inheritance from parent grid in IE8
  width: 100%;
}

// Review author text elements
.grid-testimonials .quote-meta span {
  display: block;
  width: 100%;
}


// Inner review citation wrapper
.grid-testimonials-citation
{
  transition: $testimonial-transition;
  color: $testimonial-name-color;
  width: 100%;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

// Inner review horizontal ruler
.grid-testimonials li hr {
  max-width: 12em;
  width: 100%;
  margin: 0.5em auto;
}

// Review author title
.grid-testimonials li .author-description {
  font-style: italic;
  text-align: center;
  color: $testimonial-tagline-color;
}

// Review author image
// Not-in-use
.grid-testimonials li .image {
  background-size: cover;
  background-position: center;
}

//
// SINGLE REVIEW PAGE
//

//-Review page author link-//
section.review .author-link a {
    // @include link-color(inherit,inherit,inherit);
}

//-Review page author description-//
section.review .review-author-description {
    margin-top: 1em;
}

//-Review page content links-//
section.review .review-page-content a { @include button-link; }

//-Review page bullet list-//
section.review .review-page-content ul {
    // @extend .bullet;
    margin-bottom: 1em;
}

//-See all reviews button-//
section.review .review-gallery-link {
  text-align: right;
  display: block;
}

// Review image gallery wrapper
section.review .images {
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
}

// Review page image wrapper
section.review .images li {
  &:nth-child(n+2) {
    margin-top: 1em;
  }
}

// Review page gallery image
section.review .images li img {
  width: auto;
}