// .
// . User card
// .   	

.user-card {}

.user-card .inner-wrapper {

	display: inline-block;
	width: 100%;

}

.user-card .image-wrapper {

	$max-size: 72px;
  
  display: table-cell;
	border-radius: 50%;
  overflow: hidden; // to make border-radius work on children

  & img.avatar {


    max-width: $max-size;
    max-height: $max-size;
    display: block; // fixes vertical alignment bug

	}

  & .img-bg.avatar {

    background-image: url('/resources/images/ui/user-4.png');
    background-size: cover;
    width: $max-size;
    height: $max-size;

    & .hide {
      display: none; // hack so lemonstand doesn't hide the element because its empty
    }

    &.dillon {
      background-image: url('/resources/images/users/dillon-sylvestre.jpg');
    }

    &.ashley {
      background-image: url('/resources/images/media-articles/ashleys-accident/avatar.jpg');
    }

  }

}

.user-card .card-content {

	display: table-cell;
	vertical-align: middle;
  padding-left: $base-gutter;
	
	& p {
		margin: 0;
	}

}

.card-content {

  & p.user-name {

    font-weight: bold;
    font-size: 1.2em;

  }

  & p.user-tagline {
    color: $flat-gray-3;
  }

}