/* ==========================================================================
   Media query breakpoints
   ========================================================================== */

// 
// example: 
// 
// @include bp(tablet) { ... }
// 

/*==========  Settings  ==========*/

$bp-widescreen-min: '1224px';

$bp-desktop-min: '769px';
$bp-desktop-max: '1223px';

$bp-tablet-min: '481px';
$bp-tablet-max: '768px';

$bp-mobile-min: '0px';
$bp-mobile-max: '480px';

/*==========  Mixin  ==========*/

@mixin bp($point) {

  // Cascading breakpoints

	@if $point == widescreen
  {
  	@media (min-width: $bp-widescreen-min) { @content; }
  }
	@else if $point == desktop
  {
		@media (min-width: $bp-desktop-min) { @content; }
  }
	@else if $point == tablet
  {
		@media (min-width: $bp-tablet-min) { @content; }
  }
	@else if $point == mobile
  {
		@media (max-width: $bp-mobile-max)  { @content; }
  }
	@else if $point == mini
  {
		@media (max-width: 260px)  { @content; }
  }

	// Isolated breakpoints

	@if $point == widescreen-only
  {
		@media (min-width: $bp-widescreen-min) { @content; }
  }
	@else if $point == desktop-only
  {
		@media (min-width: $bp-desktop-min) and (max-width: $bp-desktop-max) { @content; }
  }
	@else if $point == tablet-only
  {
		@media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) { @content; }
  }
	@else if $point == mobile-only
  {
		@media (min-width: $bp-mobile-min) and (max-width: $bp-mobile-max)  { @content; }
  }

}