// .
// . Button link mixin
// .       

@mixin button-link(

    $background: rgba(white, 0),
    $background-hover: #FF5D11,
    $background-active: orangered

  )

{
    transition: background 0.1s ease,
                color 0.1s ease,
                border 0.1s ease;
    background: $background;
    color: #727272;
    padding: 0.1em 0.2em;
    border-bottom: 1px solid #ACACAC;

    &:hover, &:active {
        text-decoration: none;
        color: white;
        background: $background-hover;
        border-color: rgba(255, 255, 255, 0);
    }

    &:active {
        background: $background-active;
    }

}