// .
// . Circle icon mixin
// .   	

@mixin circle-icon($font-size, $icon-color, $icon-bg) {
    &:before {
        background: $icon-bg;
        color: $icon-color;
        font-size: $font-size;
        border-radius: 50%;
        padding: $font-size/2;
    }
}