// .
// . Data label mixin
// .    

// TODO: rename

// dark heading label
@mixin info-box-label {

    display: inline-block;
    font-weight: 700;
    margin-bottom: $base-gutter;
    line-height: 1.4;
    width: 100%;
    color: #4D4D4D;
    background-color: #E5E5E5;
    padding: 1em;

    @include bp(desktop) {
      padding: $base-gutter * 1/3;
    }

}