// .
// . Group button link mixin
// .   	

@mixin group-button-link(

    $background: #737373,
    $background-hover: #FF5D11,
    $background-active: orangered

)

{
	transition: background 0.2s ease;
	background: $background;
	padding: $base-gutter * 1/3;
	color: white;
	font-size: 0.9em;
	line-height: 1;
  display: inline-block;

	&:hover {
	    text-decoration: none;
	    background: $background-hover;
	}

	&:active {
	    background: $background-active;
	}

}