// .
// . Magic grid mixin
// .

@mixin magic-grid($column-count: 4, $gutter: 1.5em) {

  display: inline-block;
  width: 100%;
  margin-bottom: 2/3 * $gutter;

  // generate column width classes via nth-child selectors
  @for $i from 1 through $column-count {
    & > span:first-child:nth-last-child(#{$i}),
    & > span:first-child:nth-last-child(#{$i}) ~ span {
      float: left;
      width: ( 100% / $i );
    }
  }

  // add gutters via padding (starting with second child)
  @for $i from 2 through $column-count {
    & > span:first-child:nth-last-child(#{$i}),
    & > span:first-child:nth-last-child(#{$i}) ~ span {
      padding-right: $gutter;
      &:last-child {
        padding-right: 0;
      }
    }
  }

}


