// .
// . Susy grid padding
// .   	

@mixin container-padding($padding: 1em) {
	width: auto;
  min-width: 100%;
  max-width: none;
	margin-right: -($padding);
  margin-left: 0;
}

@mixin span-padding($padding: 1em) {
	padding-right: $padding;
}