// .
// . All buttons
// .   	

[class*='btn-'] {

  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-table; // * vertical alignment
  
  @include bp(desktop)    {
  	// ..
  }

}

// round edge button
// TODO: create mixin with radius arg
[class*='btn-'].round {
  border-radius: 6px;
}

// inner button element
[class*='btn-'] span {
   display: table-cell; // * vertical alignment
   padding: 2/3 * $base-gutter;
}

// button icon
[class*='btn-'] .icon {
   // ...
}

// add spacing between consecutive buttons
[class*="btn-"] + [class*="btn-"] {
  margin-left: 1/2 * $base-gutter;
}