// .
// . Flat 3D buttons
// .   	

._btn-3d {

	background: #FF4500;
	color: #FFF;
	box-shadow: inset 0px -0.25em 0px 0px rgba(255, 255, 255, 0.5);

	&:hover, &.hover{
		background: #FF5D1F;
	}
	
	&:active, &.active, &:focus {
		background: #FF5D1F;
	}

	&.black {
		background: black;
		color: white;
	}

	&.white {
		background: white;
		color: black;
		box-shadow: inset 0px -0.25em 0px 0px rgba(0, 0, 0, 0.25);
	}

	&.orange {
		background: #FF4500;
		color: white;
	}

}