// .
// . Flat UI style toggle checkbox
// .     

.toggle-control {

    $lightGrey:#bdc3c7;
    $green:#2ecc71;
    $anim:cubic-bezier(.55,0,.1,1);
    height: 40px;

    & .toggle{

      display:none;

      &:checked ~ .container{
        background:$green;
        border:1px solid $green;
        transition:.2s $anim;
      }

      &:checked ~ .control{ 
        transform:translate(30px);
        transition:.2s $anim;
        margin: 1px 2px;
      }

    }

    & .control{

      background:white;
      border-radius:40px;
      display:block;
      height:34px;
      margin: 1px 5px;
      position:relative;
      transition:.2s $anim;
      width:34px;
      z-index:2;

    }

    .container{

      background:$lightGrey;
      border-radius:40px;
      border:1px solid $lightGrey;
      height:40px;
      position:relative;
      transform:translateY(-38px);
      transition:.2s $anim;
      width:70px;
      
    }

}