// .
// . Old buttons
// .   	

.btn {
  transition: all 0.3s ease;
	padding: 6px 10px;
	background: $button-background;
	border: none;
	text-align: center;
	color: white;
	font-size: 1em;
	line-height: 2;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	-webkit-backface-visibility: hidden;
}

//-Hover-//
.btn:hover {
	cursor: pointer;
	background-color: $button-background-hover;
    color: white;
}

//-Active-//
.btn:active {
	background-color: $button-background-active;
  box-shadow: none;
}

//-Link in button-//

.btn a {
	text-decoration: none;
	color: $color-gr-2;
	&:hover { color: $color-gr-4; }
	&:active { color: $color-gr-4; }
}

