// .
// . Outline buttons
// .   	

// TODO: complete borders styling

._btn-outline {

	box-shadow: inset 0px 0px 0px 1px #000;

	&:hover, &.hover {
		box-shadow: inset 0px 0px 0px 1px #000;
	}

	&:active, &.active, &:focus {
		box-shadow: inset 0px 0px 0px 1px #000;
	}

	&.black {
		box-shadow: inset 0px 0px 0px 1px black;
    color: black;
    & a, & a:hover, & a:focus, & a:visited, & a:active {
      color: black;
    }
	}

	&.white {
		box-shadow: inset 0px 0px 0px 1px white;
		color: white;
    border-color: white;
    & a, & a:hover, & a:focus, & a:visited, & a:active {
      color: white;
    }
	}

	&.orange {
		box-shadow: inset 0px 0px 0px 1px #FF4500;
		color: #FF4500;
    & a, & a:hover, & a:focus, & a:visited, & a:active {
      color: #FF4500;
    }
	}

  &.gray {
    $color: #898989;
    box-shadow: inset 0px 0px 0px 1px $color;
    color: $color;
    & a, & a:hover, & a:focus, & a:visited, & a:active {
      color: $color;
    }
  }

  // icon border color
  & [class*='icon-'] {
      border-left-width: 1px;
      border-left-style: solid;
  }

}