// .
// . Solid buttons
// .   	

// TODO: complete borders styling

._btn-solid {

	background: #222;
	color: white;
  border: 0;

  transition: background 0.2s ease-in;

  & a {
    color: white;
  }

	// Solid button hover
	&:hover, &.hover {
		background: lighten(black, 15);
	}
	&:active, &.active, &:focus {
		background: lighten(black, 15);
	}

	&.black {
		background: #222;
		color: white;
	}

	&.gray {

    $color: #5B5B5B;

		background: $color;
		color: white;

		&:hover, &.active {
			background: darken($color, 25%);
		}

	}

	&.white {

		background: white;
		color: #595959;

		&:hover {
			background: #D2D2D2;
		}

    & a {
      color: black;
    }

    // icon border color
    & [class*='icon-'] {
        border-left: 1px solid rgba(0, 0, 0, 0.11);
    }

	}

	&.orange {

    background: $flat-orange-2;

    &:hover {
  		background: $flat-orange-3;
    }

	}

  &.small {
      zoom: 0.8;
  }

  // icon border color
  & span + [class*='icon-'] {
      border-left: 1px solid rgba(255, 255, 255, 0.11);
  }

  & [class*='icon-'] {
      border-right: 1px solid rgba(255, 255, 255, 0.11);
  }

}