<? Phpr_View::beginBlock("view") ?>

  <ul class="breadcrumbs">
    <li><a href="<?= url('/testimonials/posts') ?>">Testimonial list</a></li>
    <li><?= $this->app_page_title ?></li>
  </ul>

  <?= flash() ?>

  <? if (!isset($fatalError)): ?>
    <div class="form600">
      <?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
        <? $this->formRender() ?>

        <?= backend_ajax_button('Save', 'edit_onSave',  array('class'=>'default'), "prepareFunction: function(){phprTriggerSave();}") ?>

        <?= backend_ajax_button('Cancel', 'edit_onCancel') ?>

        <?= backend_ajax_button('Delete', 'edit_onDelete', array('class'=>"right"), "confirm: 'Do you really want to delete this testimonial?'") ?>
        <div class="clear"></div>
      </form>
    </div>
  <? else: ?>
    <p><a href="<?= url('/testimonials/posts') ?>">Return to the testimonial list</a></p>
  <? endif ?>

<? Phpr_View::endBlock() ?>