<br>

<h1>Testimonial manager</h1>

<div class="list_controlPanel">
<?= backend_button('Add a new testimonial', url('/testimonials/posts/create')) ?>
<div class="clear"></div>
</div>

<?= $this->listRender() ?>