@import "compass/css3";

* {
  font-family: tahoma;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  -webkit-transition: 0.5s;
}

body{
  padding:1%;
}

.row {
  float: left;
  width: 100%;
}

[class*="col"] {
  border: 5px solid white;
  &:hover {
    cursor: pointer;
  }
  &::selection {
    background: red;
    color: white;
    text-shadow: none;
  }
}

@for $i from 1 through 12 {
  .col_#{$i} {
    float: left;
    width: 100/$i+0%;
    //height: $i/0.1+0px;
    background: #3498db+$i*5;
    padding: 24px;
    color: #ecf0f1+$i*5;
    &:hover {
      background: #e74c3c+$i*5;
      -webkit-transition: 0.2s;
    }
    &:active,
    &:focus {
      background: #c0392b+$i*5;
      -webkit-transition: 0.1s;
    }
  }
}