// .
// . Links
// .   	


// . Base links
// ------------------------------------------------------ x

#{$a-tags} {
  color: $color-a-1;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $color-a-1;
}


// . Link color variations
// ------------------------------------------------------ x

#{$a-tags} {

  &.black {
    color: black;
  }

  &.white {
    color: white;
  }

  &.gray {
    color: white;
  }

  &.dark-gray {
    color: dimgray;
  }

  &.light-gray {
    color: lightgray;
  }

}